{%extends "base/cocpage.html"%}
{%load pgfilters%}
{%block title%}行为准则翻译与审批流程{%endblock%}
{%block cocmain%}

<h1>行为准则翻译与审批流程 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2021年2月26日。{%git_changes_link%}</em></p>

<p>
  PostgreSQL <a href="/about/policies/coc_committee/">行为准则委员会</a>负责管理将<a href="/about/policies/coc/">行为准则</a>从英语翻译成其他语言的审批流程，以及在政策修订时更新翻译。
</p>

<ol>
  <li>
    在提交给委员会之前，拟议的翻译应至少由另一位该语言的流利使用者审阅。
  </li>
  <li>
    拟议的翻译应按照以下方式发送给委员会（<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>）：
    <ul>
      <li>文件应同时以 .txt 和 .pdf 格式提交</li>
      <li>邮件应包含初始翻译者的姓名</li>
      <li>邮件应包含审阅者的姓名</li>
    </ul>
  </li>
  <li>
    委员会将审查相关信息，并联系提交者获取所需的任何补充信息。
  </li>
  <li>
    委员会完成审查后，翻译将提交至 ~general 邮件列表进行讨论，评论截止期为一周。
  </li>
  <li>
    任何评论或修改建议将发送给提交者供其考虑。如果需要更新版本，更新版本将发布到
    <a href="mailto:pgsql-general@lists.postgresql.org">pgsql-general</a>
    邮件列表，评论期为一周。
  </li>
  <li>
    如果没有评论或需要修改的内容，翻译将发送至
    <a href="mailto:pgsql-general@lists.postgresql.org">pgsql-www</a> 以添加到网站。
  </li>
  <li>
    新翻译发布后，委员会将在
    <a href="/about/newsarchive/">PostgreSQL 新闻公告</a> 中发布消息。
  </li>
  <li>
    委员会维护所有当前翻译的列表，并将与原始翻译者合作，根据需要更新政策。如果原始翻译者无法进行更新，委员会将发布志愿者招募信息。
  </li>
  <li>
    在更新待处理期间，过时的政策将在网站上标注为过时。
  </li>
</ol>
{%endblock%}
