{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}社区会议认可{%endblock%}
{%block contents%}

<h1>社区会议认可 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2023年9月21日。{%git_changes_link%} <a href="https://git.postgresql.org/gitweb/?p=pgweb.git;a=history;f=templates/pages/community/recognition.html">查看</a> 2020年12月8日之前的历史。</em></p>

<p>社区会议认可计划是一项自愿方案，向 <a href="/about/events/">PostgreSQL 网站活动列表</a>提交活动的提交者可以根据以下标准进行自我评估，如果符合要求，可以将其活动宣传为 PostgreSQL 社区活动。</p>

<p>不满足标准的活动仍然会被接受（在<a href="https://wiki.postgresql.org/wiki/NewsEventsApproval#Approving_Events_and_Event-Related_News_.28excluding_training.29" target="_blank" rel="noopener">一般列表政策</a>允许的情况下）——例如，由单一公司组织的活动虽然可能仍然值得参加，但不一定是我们认为完全"开放"的活动。</p>

<p>以下标准中使用的"必须（MUST）"、"不得（MUST NOT）"、"应当（SHOULD）"和"不应（SHOULD NOT）"等术语的解释应遵循 <a href="https://www.ietf.org/rfc/rfc2119.txt" target="_blank" rel="noopener">RFC2119</a>。</p>

<h3>总则</h3>
<ul>
  <li>活动必须主要聚焦于 PostgreSQL，并面向 PostgreSQL 的现有和/或潜在开发者和用户。</li>
  <li>活动必须采纳并遵循适当的行为准则，以确保为所有希望参加的人提供安全且愉快的环境。</li>
  <li>活动网站、广告、通知以及任何其他相关材料必须完全遵守 <a href="/about/policies/trademarks/">PostgreSQL 商标政策</a>，或获得 <a href="https://www.postgres.ca/">PostgreSQL 社区协会</a>的许可。</li>
  <li><a href="/developer/core/">PostgreSQL 核心团队</a>保留对任何活动进行认可、不予认可或撤销先前认可的权利，无需提供理由。</li>
  <li>需要公开披露的信息必须在活动网站上提供，或者如果无法在活动网站上发布，则必须在 <a href="/about/events/">PostgreSQL 网站活动列表</a>中提供。</li>
  <li>活动在<a href="/about/events/">PostgreSQL 网站上列出</a>时，由组织者自行认证符合这些标准。如果活动经组织者自行认证后被发现不符合标准，<a href="/developer/core/">PostgreSQL 核心团队</a>保留撤销该活动作为社区活动认可的权利，并在适当情况下采取进一步措施，包括永久禁止组织者未来的活动列表。</li>
  <li>这些标准可能随时被审查和更新。</li>
</ul>

<h3>组织者</h3>
<ul>
  <li>组织委员会（也称为指导委员会）必须在活动网站或 PostgreSQL 网站活动列表中完整披露。</li>
  <li>组织委员会不应由来自同一公司或同一最终所有权或管理下的公司集团的成员超过50%。</li>
  <li>授予组织者所在公司的任何福利必须视为赞助福利。</li>
  <li>
    组织委员会必须满足以下条件之一：
    <ul>
      <li>设立行为准则委员会。行为准则委员会必须包含至少一名不在组织委员会中的成员。行为准则委员会的成员名单必须公布。或者</li>
      <li>采纳 <a href="/about/policies/coc/">PostgreSQL 行为准则</a>，并将行为准则投诉提交给 <a href="/about/policies/coc_committee/">PostgreSQL 行为准则委员会</a>。</li>
    </ul>
  </li>
</ul>

<h3>演讲选拔</h3>
<ul>
  <li>演讲选拔委员会必须在活动网站上完整披露。</li>
  <li>演讲选拔委员会不得由来自同一公司或同一最终所有权或管理下的公司集团的成员达到或超过50%。</li>
  <li>演讲委员会的所有成员必须拥有平等的投票权。</li>
  <li>征稿（Call For Papers）必须向所有人开放提交。</li>
  <li>受邀或赞助商演讲可以绕过正常的演讲选拔流程，但必须获得演讲选拔委员会多数成员的批准。</li>
  <li>完整的演讲选拔流程和投票系统必须向演讲选拔委员会的所有成员完整披露。</li>
  <li>演讲选拔流程的详细信息及结果的获取方式必须在 <a href="/developer/core/">PostgreSQL 核心团队</a>要求时提供。</li>
</ul>

<h3>赞助</h3>
<ul>
  <li>赞助条款和/或赞助说明书必须在活动网站上公开发布以供公众查阅。</li>
  <li>所有相同级别或类型的赞助商必须被平等对待；他们必须获得与其他赞助商相同费用的相同权益。</li>
  <li>发布后不应更改所提供的权益，且在第一份赞助协议执行后不得更改。</li>
  <li>不应设置独占性的最高赞助级别。</li>
  <li>所有级别或类型的赞助商权益应包括在活动网站上的列表。赞助商列表的排序必须以随机或可预测的顺序排列，并附上说明排序方式的文字，按赞助级别或类型分组。</li>
  <li>赞助机会应向所有人开放，以先到先得的方式提供。可以对任何给定级别或类型的赞助数量设置限制。</li>
  <li>只有获认可的赞助商才可以在活动中展出，或在活动网站或其他材料中列出。</li>
</ul>

<h3>财务</h3>
<ul>
  <li>如有要求，活动组织者必须向 <a href="/developer/core/">PostgreSQL 核心团队</a>或其指定代表提供财务记录副本以供审查。与核心团队共享的任何财务报表，未经活动组织者书面许可或法院命令或其他形式的法律授权要求，核心团队不会向任何第三方分发。</li>
  <li>
    活动网站上的声明必须说明活动利润的去向，具体必须支持 PostgreSQL 社区活动，通过以下方式之一：
    <ol>
      <li><a href="/about/policies/npos/">获认可的 PostgreSQL 非营利组织</a></li>
      <li>详细列出利润将如何支持 PostgreSQL 全球开发组的持续开发</li>
      <li>用于活动的未来增长和扩展，或者</li>
      <li>支持整个社区的 PostgreSQL 相关活动，
      且可由 PostgreSQL 核心团队验证</li>
    </ol>
  </li>
</ul>
{%endblock%}
