{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}认可贡献者政策{%endblock%}
{%block contents%}

<h1>认可贡献者政策 <i class="fas fa-gavel"></i></h1>

<p>
  PostgreSQL <a href="/community/contributors/">贡献者简介</a>页面列出了对 PostgreSQL 项目做出了长期投入时间和精力的实质性贡献的人员。一次性或短期的贡献通常不被视为足以列入，除非涉及相当大量的代码和时间。
</p>

<p>
  有关特定版本的所有代码贡献列表，请参阅已发布的 PostgreSQL 版本的<a href="/docs/release/">发行说明</a>。
</p>

<p>
  资金贡献列在<a href="/about/sponsors/">赞助商</a>页面上，而非此处。
</p>

<h2>贡献者级别</h2>

<h3>当前贡献者</h3>
<p>
  <a href="/community/contributors/">贡献者简介</a>页面列出了核心团队成员以及两个级别的 PostgreSQL 贡献者：
</p>
<ul>
  <li><strong>核心团队</strong>：<a href="/developer/core/">PostgreSQL 核心团队</a> 的成员
  </li>
  <li><strong>重要贡献者</strong>：多年来持续提供贡献、对 PostgreSQL 社区发展产生重大积极影响的个人。
  </li>
  <li><strong>显著贡献者</strong>：近年来持续提供显著贡献的个人。
  </li>
</ul>

<h3>往届贡献者</h3>
<p>
  本节列出曾在核心团队、重要贡献者或显著贡献者部分中出现，但已退出或长期停止贡献的人员。
</p>
<ul>
  <li><strong>往届重要贡献者</strong>：前重要贡献者和前核心团队成员</li>
  <li><strong>往届贡献者</strong>：前显著贡献者</li>
</ul>

<h2>贡献类型</h2>

<p>
  委员会可能考虑的对 PostgreSQL 项目的贡献包括但不限于：
</p>
<ul>
  <li>代码：编写、审查、测试并/或向 PostgreSQL 主 git 仓库以及/或密切相关的外部项目（如 PostGIS、pgjdbc、PGAdmin）提交补丁</li>
  <li>翻译：源代码中的用户可见消息和文档</li>
  <li>社区邮件列表参与：报告 bug、建议功能、参与正在进行的讨论、回答问题、邮件列表管理</li>
  <li>PostgreSQL 项目或社区认可的 NPO 的治理：核心团队、NPO 董事会、NPO 官员、NPO 委员会</li>
  <li>社区控制的基础设施的维护和运营：系统管理团队、网站团队</li>
  <li>其他社区认可的委员会参与：安全委员会、行为准则委员会</li>
  <li>开发流程和软件生命周期管理：Commitfest 管理者、发布管理团队、发布团队、打包者、Buildfarm 动物维护</li>
  <li>社区认可的会议的组织和执行：组织委员会、选拔委员会、演讲者、志愿者</li>
  <li>开放教育：PostgreSQL 相关的博客、文章、无偿培训/教程</li>
  <li>开放支持（社区邮件列表之外）：#postgresql IRC 频道、Postgres slack 频道、Stack Overflow
  </li>
</ul>
<p>如果您认为有某种类型的贡献应在此列出或进一步说明，请发送邮件至
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>。
</p>

<h2>提名新的认可贡献者</h2>
<p>
  如果您想提名一位您认为正在做出此处所述类型的持续贡献的 PostgreSQL 贡献者，请将其贡献描述通过电子邮件发送给
  <a href="/about/governance/contributors/">贡献者委员会</a>，邮箱为
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>。
</p>

<h2>贡献者委员会治理</h2>
<p>
  <a href="/about/governance/contributors/">贡献者委员会</a>的治理在<a href="/about/governance/contributors/">贡献者委员会</a>页面上有详细说明。
</p>

{%endblock%}
