{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}Planet PostgreSQL{%endblock%}
{%block contents%}

<h1>Planet PostgreSQL <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2025年10月2日。{%git_changes_link%}</em></p>

<p><a href="https://planet.postgresql.org/">Planet PostgreSQL</a> 是由 PostgreSQL
    社区运营的博客聚合服务。除了 Planet 主站之外，文章也会被发布（"聚合"）到
    <a href="https://www.postgresql.org/">www.postgresql.org</a> 网站上。</p>

<h2>Planet PostgreSQL 政策</h2>

<p>以下简要规则适用于在 Planet PostgreSQL 上列出的博客：</p>

<ul>
    <li>博客应由博客作者以社区账户的名义提交。
    </li>
    <li>所有博客应与 PostgreSQL 或密切相关的技术有关。如果您还想撰写其他主题的博客，
        请将 PostgreSQL 相关的文章放在单独的分类/标签中，并仅使用该分类的订阅源提交到
        Planet PostgreSQL。
    </li>
    <li>所有与 PostgreSQL 相关的主题当然都受欢迎——包括技术性和非技术性的内容。
    </li>
    <li>所有文章应使用英文撰写。如果您想使用其他语言撰写博客，请将 PostgreSQL
        相关的文章放在单独的分类/标签中，并仅使用该分类的订阅源提交到
        Planet PostgreSQL。
    </li>
    <li>所有博客应以发布者的姓名标识。可以结合使用昵称，
        但不允许没有姓名的博客。
    </li>
    <li>避免在聚合文章中发表煽动性评论。不允许人身攻击。
    </li>
    <li>不允许在博客的聚合部分发布广告。
    </li>
    <li>博客可以包含音频或视频内容，但仅作为完整书面文章的补充；
        博客不能仅由音频或视频组成。
    </li>
    <li>所有博客订阅源标题和域名必须遵守
        <a href="/about/policies/trademarks/">PostgreSQL 商标政策</a>，
        或在获得 <a href="https://postgres.ca">PostgreSQL 社区协会</a>
        许可的情况下使用。
    </li>
</ul>

<p>违反这些规则将导致您的博客从 Planet PostgreSQL 中移除。</p>

<h3>博客审批</h3>

<p>Planet PostgreSQL 志愿审核员会在您提交聚合请求后审批您的博客。请注意以下几点：</p>

<ul>
    <li>博客在审批前必须至少有一篇文章，以便审核员可以根据初始内容做出决定。
        空博客不会被批准。
    </li>
    <li>审核员不得批准由其同一雇主的其他员工所拥有的博客。
    </li>
</ul>

<h2>Planet PostgreSQL 常见问题</h2>

<h3>如何从订阅源中移除错误的条目？</h3>
<p>您可以登录管理界面并隐藏单个条目。如果您发现自己犯了错误，
    例如意外发布了标签不正确的内容，建议您自行将其移除。</p>

<h3>是否允许商业性文章？</h3>
<p>提及专有产品的信息性文章通常是允许的，只要文章的主要内容与 PostgreSQL
    社区相关。但政策明确禁止在聚合到 Planet 订阅源的博客部分中发布广告。
    建议可能包含广告的博客对其进行适当标记，以提供不含这些条目的订阅源给 Planet。</p>

<h3>什么构成广告？</h3>
<p>这里的主要判断标准是：所提供的信息对于那些对所提及的商业产品毫无兴趣的人是否仍有用处。
    设想一下，如果移除文章中所有对该产品的引用，您的文章会是什么样子。
    如果这样做之后没有剩下有用的 PostgreSQL 内容，那么该文章就是广告。</p>

<p>您可以在一位审核员关于此主题的博客文章中找到更详细的意见：
    <a href="https://www.enterprisedb.com/blog/planetary-alignment" target="_blank" rel="noopener nofollow">Planetary alignment</a>。
    该评论不是官方政策的一部分。
</p>

<h3>我可以向读者提供免费或折扣产品吗？</h3>
<p>不能作为唯一的文章内容。如果一篇文章在其他方面符合此处的标准——即为对所提及的商业产品毫无兴趣的读者提供有用信息——
    那么文章中也可以包含一些商业优惠，例如免费产品。但仅仅是产品赠送或向博客读者提供折扣等促销活动，
    单独作为文章内容是不可接受的。您可能认为优惠本身具有信息价值，但 Planet 订阅源的审核员通常会将其判定为广告。
    提供免费赠送或以优惠价格提供产品的博客文章很可能被标记为违反政策。</p>

<h3>违反网站政策的博客会受到什么处理？</h3>
<p>首次违反广告政策将导致包含广告的博客文章被移除，并向博客的注册所有者发送警告邮件。</p>

<p>第二次违反将导致博客从 Planet PostgreSQL 订阅源中移除。经过两个月的暂停期后，
    博客所有者可以提交其博客地址——或一个经过更好标记以过滤广告的新订阅源 URL——以供重新审议。</p>

<p>任何一年内的第三次违反将导致博客从 Planet PostgreSQL 被暂停整整12个月。</p>

<h3>谁负责对 Planet 允许的内容做出审核决定？</h3>
<p>网站维护和审核工作由一小组志愿审核员负责，主要由来自各公司的、熟悉 PostgreSQL
    社区政策的 <a
            href="https://www.postgresql.org/community/contributors/">PostgreSQL
        贡献者</a>组成。</p>


{%endblock%}
