{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}隐私政策{%endblock%}
{%block contents%}
<h1>隐私政策 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2021年9月14日。{%git_changes_link%}</em></p>

<p>当您访问我们的网站时，我们的服务器会自动记录您的 IP 地址和/或主机名。</p>

<p>只有当您决定通过完成调查或在我们的网站上注册为用户来向我们发送信息时，
    我们才会存储您的电子邮件地址、姓名和所在地等信息。我们收集这些信息是为了
    帮助我们改进网站内容、自定义网页布局，以及出于技术和支持目的联系相关人员。
    除非法律要求，我们不会与其他组织共享您的电子邮件地址。</p>

<p>如果您向网站提交内容，例如将您的公司列为服务提供商，您提交的信息将会被公开发布。</p>

<p>如果您在我们的公共邮件列表上发布消息，您的发件电子邮件地址和邮件的所有内容
    将被我们和其他组织公开发布并归档。这些归档是永久性的，已发布的邮件不会被删除。
    通过向这些列表发送消息，您默示授权此项归档，且此授权优先于消息本身中的任何免责声明。</p>

<p>我们可能会通过调查、自愿提供的信息、成员建议及其他方式收集人口统计和兴趣类别信息。
    我们的成员可以自愿提供信息，包括个人、兴趣、地理位置和人口统计方面的信息。
    此数据收集的目的是确保我们持续了解 PostgreSQL 社区的需求和期望，
    从而提供最相关的信息、指南和内容。</p>

<p>本网站使用 Google Analytics，这是由 Google, Inc.（"Google"）提供的网络分析服务。
    Google Analytics 使用"cookies"（即放置在您计算机上的文本文件）来帮助网站分析
    用户如何使用本站。cookie 生成的关于您使用本网站的信息（包括您的 IP 地址）
    将被传输到 Google 位于美国的服务器上并存储。Google 将使用这些信息来评估您对
    本网站的使用情况、为网站运营商编制网站活动报告，以及提供与网站活动和互联网使用
    相关的其他服务。在法律要求的情况下，或第三方代表 Google 处理信息的情况下，
    Google 也可能将此信息传输给第三方。Google 不会将您的 IP 地址与 Google 持有的
    任何其他数据关联。您可以通过在浏览器中选择适当的设置来拒绝使用 cookies，
    但请注意，如果您这样做，可能无法使用本网站的全部功能。使用本网站即表示您同意
    Google 以上述方式和目的处理有关您的数据。</p>
<p>
    如果您对此政策有任何疑问或意见，或要求删除个人数据，
    可以通过 <a href="mailto:privacy@postgresql.org">privacy@postgresql.org</a> 与我们联系。
</p>
{%endblock%}
