{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}项目名称{%endblock%}
{%block contents%}

<h1>项目名称 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2018年7月5日。{%git_changes_link%}</em></p>

<h2>"PostgreSQL" 与 "Postgres"</h2>

<p>Postgres 是 PostgreSQL 项目的一个公认别名。但它只是别名或昵称，
    并非项目的官方名称。引用 PostgreSQL 核心团队成员 Dave Page 的话：</p>

<blockquote>
  <p>
    在最近关于项目改名的讨论之后，很明显社区内部永远不会达成共识。
    鉴于此，核心团队对此事进行了深入讨论，并决定项目将继续使用 PostgreSQL 这一名称，
    但接受 Postgres 作为别名使用。
  </p>
  <p>此致，Dave</p>
</blockquote>

<p>参考：<a
        href="https://www.postgresql.org/message-id/473D7617.6070900@postgresql.org">项目名称——核心团队的声明</a>。</p>

{%endblock%}
