{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}专业服务与托管审批政策{%endblock%}
{%block contents%}

<h1>专业服务与托管审批政策 <i class="fas fa-gavel">
    </i></h1>

<p><em>最后更新：2012年5月19日。{%git_changes_link%}</em></p>

<h2>专业服务和托管服务的审批政策</h2>

<h3>一般规则</h3>

<p>www.postgresql.org 主页上包含专业服务和托管（统称为“服务”）列表，
    这些列表完全是为了 PostgreSQL 社区的利益而维护的。由于这些空间如果商业化将具有相当的价值，
    因此我们的管理员有权对主页上允许展示的内容进行严格限制。</p>

<p>所有待批准的服务必须包含以下信息：</p>

<ul>
    <li>公司名称</li>
    <li>准确、完整的联系信息，包括电子邮件、网站、电话和注册办公地址
    </li>
    <li>一段15至50字的公司服务摘要，详细说明公司为 PostgreSQL 提供的具体服务。
    </li>
    <li>地理位置信息</li>
</ul>

<p>此外，您在列表中链接的网站必须在某处提到 PostgreSQL 作为所提供的服务或平台。
    如果您的网站上没有任何地方提及 PostgreSQL，您的列表将不会被批准。</p>

<p>另外，除非您是真正的全球性公司（例如 IBM、Akamai），否则不要将您的公司列在每一个地理区域中。
    这可能成为拒绝您的列表的理由。</p>

<p>其他一般规则包括：</p>

<ul>
    <li>所有服务必须以某种直接且明显的方式与 PostgreSQL 相关。
    </li>
    <li>仅含链接的列表（无描述或详细信息）永远不会被接受。
    </li>
    <li>PostgreSQL 项目的 WWW 管理员组可以永久禁止任何因我们社区成员提出的关于准确性、
        道德或合法性的实质性投诉而被投诉的组织。
    </li>
    <li>WWW 团队不保证及时审批公告。如果在特定日期发布对您至关重要，
        您需要在提交之前联系 pgsql-www 邮件列表或核心团队成员。
    </li>
</ul>

<h3>专业服务与列表</h3>

<p>对于专业服务，必须勾选“提供支持和服务”复选框。
    请使用以下列出的信息填写相应的表单字段。不完整的提交可能会被拒绝。</p>

<ul>
    <li>URL：您（或您公司的）网站，其中必须包含关于您提供的 PostgreSQL 服务的信息。
    </li>
    <li>员工人数：您有多少名员工从事 PostgreSQL 支持或咨询工作。
    </li>
    <li>服务时间：支持服务的可用时间。建议选项包括“工作时间（时区）”、"24x7"、“按约定”。
    </li>
    <li>语言：您提供支持和服务所使用的人类语言，例如西班牙语、英语、日语等。
    </li>
    <li>客户案例：如有。</li>
    <li>经验：仅需填写您员工的 PostgreSQL 及相关技术经验详情。
    </li>
</ul>

<h3>托管列表</h3>

<p>如果您为 PostgreSQL 应用提供网络托管服务，请勾选“提供 PostgreSQL 数据库托管”。</p>

<p>支持的接口应详细说明您具体支持的编程语言（例如 Perl、Java、Ruby 等）
    和/或数据库应用（例如 Drupal、xTuple、OpenACS 等）。
    同时在此处注明关于您的 PostgreSQL 托管的任何限制或特色功能。</p>

<p>如果您在托管平台上列出了支持的其他应用，则您的网站必须明确将 PostgreSQL
    列为支持的托管应用。</p>

<h3>移除</h3>

<p>专业服务和托管列表纯粹且完全是为了我们非营利成员社区的利益而提供的。
    Postgresql.org 不是广告服务或出版物。如果我们的管理员认为您的列表不符合社区利益，
    您的列表可能因任何原因或无需任何原因而被移除。</p>

<p>可能导致您的列表被移除的具体原因包括：</p>

<ul>
    <li>社区成员对您的服务质量的投诉</li>
    <li>社区成员报告无法联系到您的公司</li>
    <li>未在您的网站上将 PostgreSQL 服务或托管列为可用服务
    </li>
    <li>利用 postgresql.org、其邮件列表或相关论坛和通信渠道进行激进的或主动的推销活动
    </li>
</ul>

<p>如果您的列表被移除，管理员通常会通知您移除原因，但不保证一定会通知。</p>

{%endblock%}
