{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}赞助{%endblock%}
{%block contents%}

<h1>PostgreSQL 赞助 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2018年6月1日。{%git_changes_link%}</em></p>

<h2>赞助级别</h2>

<p>PostgreSQL 赞助商分为两个级别：</p>

<ul>
    <li><strong>初级赞助商</strong>指近年来提供了显著贡献的组织。
    </li>
    <li><strong>高级赞助商</strong>指多年来提供了重大和/或持续贡献的组织。
    </li>
</ul>

<p>委员会可能考虑的对 PostgreSQL 项目的贡献包括但不限于：</p>

<ul>
    <li>资助功能开发、审查、文档、推广、管理或项目的其他公认需求。
    </li>
    <li>雇用员工从事 PostgreSQL 项目的工作。</li>
    <li>为测试或项目基础设施提供服务器和/或托管。
    </li>
    <li>为获认可的 PostgreSQL 开源"生态系统"项目做出贡献，
        例如驱动程序、扩展、图形工具和推广。
    </li>
</ul>

<p>对 PostgreSQL 活动的赞助不会在确定 PostgreSQL 赞助级别时被考虑。</p>

<p>所有赞助认可由赞助委员会自行决定，
    委员会将逐一决定每个赞助商或潜在赞助商的状态。在特殊情况下，
    贡献者可能因在低于上述规定时长的期间内做出的杰出贡献而被认可为某一赞助级别。
    委员会的决定为最终决定。</p>

<h2>赞助委员会</h2>

<p>根据上述指南，赞助最终由赞助委员会决定。当前成员为：</p>

<ul>
    <li>Tatsuo Ishii</li>
    <li>Jonathan S. Katz</li>
    <li>Ilya Kosmodemiansky</li>
    <li>Dave Page</li>
    <li>Robert Treat</li>
</ul>

<p>当前确定赞助商资格的方法是通过委员会成员的简单多数投票。</p>

{%endblock%}
