{%extends "base/page.html"%}
{%load pgfilters%}
'{%block title%}商标政策{%endblock%}
{%block contents%}

<h1>商标政策 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2024年11月20日。{%git_changes_link%}</em></p>

<p>
  本政策涉及我们的商标。具体而言，<em>Postgres</em> 和 <em>PostgreSQL</em>
  以及大象标志（Slonik）均为
  <a href="https://www.postgres.ca/">PostgreSQL 加拿大社区协会</a> 的注册商标。
  如果您希望使用这些标志，必须遵守本政策。
</p>

<h3>为何重要</h3>

<p>
  我们实施此商标政策是因为对社区来说，确保我们的商标不会以令人混淆的方式使用非常重要。
  例如，我们不希望人们将我们的商标用于以下用途：
</p>

<ul>
  <li>
    与 PostgreSQL 无关、不在其上运行或不与其协同工作的软件，
  </li>
  <li>（虚假地）暗示 PostgreSQL 不是开源软件，</li>
  <li>
    暗示他们以某种方式受到 PostgreSQL 项目的赞助、附属、认可或批准，而实际并非如此，
  </li>
  <li>
    用于竞争产品（即不是 PostgreSQL 的数据库，也不是基于 PostgreSQL 构建或派生的数据库），
    或将其用于不相关的商品和服务。
  </li>
</ul>

<p>
  如果发生这些情况，随着时间的推移，我们的商标将失去其意义。随着社区的发展，
  确保这种情况不会发生的最佳方式是制定并执行商标使用标准。
</p>

<h3>无需事先批准的合理使用</h3>

<p>
  您可以合理使用 <em>Postgres</em> 或 <em>PostgreSQL</em> 在真实的事实陈述中提及该软件。
  例如：
</p>

<ul>
  <li>
    如果属实，您可以在软件或文档中声明某些软件在 <em>PostgreSQL</em>&reg;
    软件上运行、与其配合使用或从其派生。
  </li>
  <li>
    您可以使用这些商标在公共活动中准确宣传与 <em>PostgreSQL</em>&reg;
    软件相关的内容。
  </li>
  <li>
    您可以在文章、博客和论坛中使用 <em>Postgres</em>&reg; 或
    <em>PostgreSQL</em>&reg; 来引用该数据库系统。
  </li>
  <li>
    您可以在关于该软件的书籍标题中使用 <em>Postgres</em>&reg; 或
    <em>PostgreSQL</em>&reg;。
  </li>
  <li>
    您可以（如果属实）将自己标识为 <em>Postgres</em>&reg; 或
    <em>PostgreSQL</em>&reg; 数据库项目的个人或企业贡献者。
  </li>
  <li>
    您可以在您的网站上使用 <em>Postgres</em> 或 <em>PostgreSQL</em>
    作为指向我们网站的链接：<a href="/">https://www.postgresql.org</a>。
  </li>
</ul>

<p>
  只要您不声明或暗示您或您的企业与 PostgreSQL 加拿大社区协会、PostgreSQL 全球开发组、
  PostgreSQL 项目、PostgreSQL 核心团队或 PostgreSQL 社区存在附属、认可、赞助或批准关系，
  这些对 Postgres 和 PostgreSQL 名称的使用通常是可以接受的。
</p>

<h3>其他批准的用途</h3>

<ul>
  <li>
    如果您的活动或会议满足
    <a href="/about/policies/conferences/">社区认可指南</a>，
    您可以使用这些商标来推广活动，包括在活动名称中使用。
  </li>
  <li>
    <a href="/about/policies/user-groups/">获认可的 PostgreSQL 用户组</a>
    可以使用这些商标来推广其活动、事务和组织。
  </li>
  <li>
    <a href="/about/policies/npos/">获认可的 PostgreSQL 非营利组织</a>
    可以在其支持项目的材料中使用这些商标。
  </li>
</ul>

<h3>如何使用我们的商标</h3>

<p>
  在根据本<a href="">商标政策</a>允许使用商标时，请遵守以下指南。
  如果未能遵守，我们可能会撤销您使用这些商标的许可。
</p>

<ul>
  <li>
    未经事先批准，不得以任何方式修改商标。商标不应与其他商标或标志一起呈现。
  </li>
  <li>
    <p>大象标志（Slonik）必须以以下形式之一呈现：</p>
    <p>
      <img class="img-fluid logo-preview" src="/media/img/about/press/elephant.png" alt="PostgreSQL Logo" />
      <img class="img-fluid logo-preview" src="/media/img/about/press/elephant-bw.png" alt="PostgreSQL Logo" />
    </p>
  </li>
  <li>
    特别是在商业性质的使用中，我们鼓励您在 <em>Postgres</em>、<em>PostgreSQL</em>
    或大象标志（Slonik）后面尽可能加上 &reg; 符号。如果您使用 Slonik 的轮廓版本，
    则应在其后加上 &trade; 符号。
  </li>
  <li>
    尽可能包含以下声明：
    <em>
      Postgres、PostgreSQL 和 Slonik 标志是 PostgreSQL 加拿大社区协会的商标或注册商标，
      经其许可使用。
    </em>
  </li>
  <li>
    不得试图注册包含我们商标或其变体的任何商标。
  </li>
  <li>不得在企业名称或商号中使用这些商标。</li>
  <li>
    不得以贬低该软件、PostgreSQL 加拿大社区协会、PostgreSQL 全球开发组、
    PostgreSQL 项目、PostgreSQL 核心团队或 PostgreSQL 社区的方式使用这些商标。
  </li>
</ul>

<h3>需要批准的用途</h3>

<p>
  对于上述未讨论的几乎所有用途，您必须在使用我们的商标之前联系我们获得许可。
  例如，如果您想在公司名称、产品名称或域名中使用我们的商标（或其某种变体），
  您必须事先获得批准。我们将尽力与您合作，允许支持 <em>PostgreSQL</em>&reg;
  项目和我们社区的使用。但请注意，我们将自行决定是否批准使用，
  如果我们认为某种使用会导致对您与 PostgreSQL 加拿大社区协会、
  PostgreSQL 全球开发组、PostgreSQL 项目、PostgreSQL 核心团队或
  PostgreSQL 社区之间关系的混淆，我们将无法批准该使用。
</p>

<h3>附加信息</h3>

<p>
  <a href="https://www.postgres.ca">PostgreSQL 加拿大社区协会</a>
  不作任何明示或暗示的保证，包括但不限于不侵犯任何第三方知识产权的保证。
  我们保留随时更新本商标政策而不另行通知的权利。
  在本版本商标政策之前的使用（即2020年12月8日之前的使用）无需获得我们的许可，
  前提是该使用符合本政策。但是，如果您认为过去可能以违反本政策的方式使用了商标，
  我们建议您寻求许可。我们的目标是与您合作支持有益于项目的使用，
  但 PostgreSQL 加拿大社区协会保留拒绝违反本政策的商标使用的权利。
  过去违反本政策的使用不赋予继续该使用的权利。
</p>

<p>
  如有任何疑问或需要批准请求，请随时通过电子邮件联系我们：
  <a href="mailto:board@lists.postgres.ca">board@lists.postgres.ca</a>。
</p>
{%endblock%}
