{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}@postgresql Twitter 账户政策{%endblock%}
{%block contents%}

<h1>@postgresql Twitter 账户政策 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2018年1月19日。{%git_changes_link%}</em></p>

<p>本政策适用于 @postgresql Twitter 账户的人工使用。</p>

<ul>
    <li>允许发布与新闻和事件审批政策（又称 -announce 政策）中定义的已批准新闻和事件相关的推文，
        前提是推文符合以下条件：
        <ul>
            <li>频率合理（由审核员定义，参考以下指南）：
            </li>
            <li>关于核心新闻和“家族”新闻的推文/转推不受频率限制。
            </li>
            <li>关于专有产品和外部开源项目新闻的推文/转推不应超过每周一次。
            </li>
            <li>关于 PostgreSQL 认可的社区会议或活动动态的推文/转推不应超过每天一次。
            </li>
            <li>关于特定开源和数据库会议或活动动态的推文/转推不应超过每周一次。
            </li>
            <li>关于查找 PostgreSQL 基础设施内网站所含信息的推文/转推不受频率限制。
            </li>
        </ul>
    </li>
    <li>不得具有商业性质（关于某组织赞助会议的推文是可以的，
        但试图为活动征集赞助的推文则不可以）。
    </li>
</ul>

<p>除已批准的新闻和事件外，以下类型的事件也可以发推，
    并遵循上述相同指南：</p>

<ul>
    <li>本地 PostgreSQL 用户组（PUG）聚会以及建立 PUG 的相关工作。
        鼓励 PUG 拥有自己的 Twitter 账号，@postgresql 会转推其中适当的推文。
    </li>
    <li>PostgreSQL 每周新闻（每周推文突出显示 -announce 帖子）。
    </li>
    <li>对于可接受的博客文章、媒体报道以及关于 PostgreSQL 的推文，也允许发推/转推，
        前提是这些内容不具有商业性质，并遵循与 Planet PostgreSQL 政策中相同的指南。
    </li>
</ul>

<p>在适当的情况下，也允许回复提及，遵循以下指南：</p>

<ul>
    <li>可接受的：
        <ul>
            <li>回答 PostgreSQL 相关的具体问题以提供帮助。</li>
            <li>提供有益的建议或评论。</li>
            <li>关于 PostgreSQL 与其他产品或项目的具体技术方面的专业讨论。
            </li>
        </ul>
    </li>

    <li>不可接受的：
        <ul>
            <li>与 PostgreSQL 无关的离题推文。</li>
            <li>贬低或攻击其他产品、项目或个人。
            </li>
            <li>任何形式的不专业行为。</li>
        </ul>
    </li>
</ul>

<p>推文应遵循在项目邮件列表上发帖时所使用的相同指南。</p>

{%endblock%}
