{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}认可的 PostgreSQL 用户组{%endblock%}
{%block contents%}

<h1>认可的 PostgreSQL 用户组 <i class="fas fa-gavel"></i></h1>

<p><em>最后更新：2020年11月19日 {%git_changes_link%}</em></p>

<p>
  认可的 PostgreSQL 用户组，又称"PUG"，可以作为
  <a href="/community/user-groups/">PostgreSQL 网站</a> 上的认可用户组列出。
  要成为认可的 PostgreSQL 用户组，用户组必须自我证明其满足以下标准，
  这些标准旨在确保其达到 PostgreSQL 社区期望的开放性要求。
</p>

<p>
  以下标准中"MAY"、"MUST"、"MUST NOT"、"SHOULD"和"SHOULD NOT"等术语的使用
  应按照 <a href="https://www.ietf.org/rfc/rfc2119.txt" target="_blank" rel="noopener">RFC2119</a>
  进行解释，其中：
</p>

<ul>
  <li>MUST 和 MUST NOT 是强制性要求，</li>
  <li>MAY、SHOULD 和 SHOULD NOT 是可选的推荐指南。</li>
</ul>

<h3>一般规定</h3>

<ul>
  <li>
    PostgreSQL 用户组必须（MUST）主要专注于 PostgreSQL 及相关技术。
    以广泛的数据库产品为目标的 PostgreSQL 用户组不具备成为 PostgreSQL 用户组的资格。
  </li>
  <li>
    PostgreSQL 用户组面向整个 PostgreSQL 社区，且具有公开性质。
    参加聚会不得（MUST NOT）要求签署保密协议（NDA）或类似合同。
  </li>
  <li>
    PostgreSQL 用户组必须（MUST）采纳并遵循适当的行为准则，
    以确保为所有希望参与的人提供安全、愉快的环境。
    <ul>
      <li>
        PostgreSQL 用户组应当（SHOULD）采纳
        <a href="/about/policies/coc/">PostgreSQL 行为准则</a>。
      </li>
    </ul>
  </li>
  <li>
    PostgreSQL 用户组必须（MUST）每两个日历年至少举办一次活动，
    以维持其作为 PostgreSQL 用户组的认可状态。
  </li>
  <li>
    <a href="/developer/core/">PostgreSQL 核心团队</a> 保留对任何
    PostgreSQL 用户组进行认可、不予认可或撤销先前认可的权利，且无需说明理由。
  </li>
  <li>这些标准可以（MAY）随时审查并可能更新。</li>
</ul>

<h3>组织者</h3>

<ul>
  <li>PostgreSQL 用户组的组织者必须（MUST）是个人。</li>
  <li>
    PostgreSQL 用户组的组织者必须（MUST）在用户组的成员网站上列出。
  </li>
  <li>
    PostgreSQL 用户组的组织者不应（SHOULD NOT）有50%或以上来自同一公司
    或在同一最终所有权或管理层下的一组公司。
  </li>
</ul>

<h3>活动</h3>

<ul>
  <li>
    任何人都可以（MAY）提交 PostgreSQL 相关的演讲提案。
    组织者应当（SHOULD）通过简单多数投票来选择接受或拒绝演讲提案。
  </li>
  <li>
    任何人都可以（MAY）提供 PostgreSQL 用户组的举办场地。
    聚会场所应当（SHOULD）位于该 PostgreSQL 用户组所代表的地区内。
    组织者应当（SHOULD）通过简单多数投票来选择接受或拒绝场地。
  </li>
  <li>
    演讲者必须（MUST）提前披露其演讲的主要内容是否涉及闭源产品或与
    PostgreSQL 无直接关系的项目。
  </li>
  <li>
    组织可以（MAY）在 PostgreSQL 用户组活动中推广其业务，条件是：
    <ul>
      <li>
        其业务应当（SHOULD）有助于推动 PostgreSQL 的进一步采用，且
      </li>
      <li>
        在 PostgreSQL 用户组中展示的任何内容必须（MUST）是技术性质的。
      </li>
    </ul>
  </li>
</ul>

<h3>赞助</h3>

<ul>
  <li>
    PostgreSQL 用户组必须（MUST）在其网页上披露向社区用户组提供资金或实物赞助的任何组织。
  </li>
  <li>
    PostgreSQL 用户组应当（SHOULD）在用户组聚会的介绍中提及任何赞助商。
  </li>
</ul>
{%endblock%}
