{%extends "base/page.html"%}
{%block title%}联系我们{%endblock%}
{%block contents%}

<h1>联系我们 <i class="fa fa-address-book"></i></h1>

<h2>报告 Bug</h2>

<p>PostgreSQL 社区始终致力于提供能够可靠存储数据的软件。如果您认为发现了 Bug，请点击下方按钮，并按照说明<a href="https://www.postgresql.org/account/submitbug/" target="_blank" rel="noopener">提交 Bug 报告</a>。</p>

<p><a href="https://www.postgresql.org/account/submitbug/" target="_blank" rel="noopener">提交 Bug 报告</a></p>

<p>如果您认为发现了安全问题，请阅读下方相关章节。</p>

<h2>报告安全问题</h2>

<p>如果您认为发现了安全问题，请发送邮件至 <a href="mailto:security@postgresql.org">security@postgresql.org</a>。</p>

<h2>支持</h2>

<p>如果您对 PostgreSQL 有一般性问题，或者正在寻求使用 PostgreSQL 方面的帮助，请访问网站的<a href="/support/">支持</a>页面，了解可用的联系渠道。</p>

<h2>行为准则委员会</h2>

<p>如果您遭遇了违反 PostgreSQL <a href="/about/policies/coc/">行为准则</a>的行为，请及时向行为准则委员会报告，邮箱为 <a href="mailto:coc@postgresql.org">coc@postgresql.org</a>。如果您需要对委员会某位成员进行投诉，也可以单独联系其他<a href="/about/policies/coc_committee/">委员会成员</a>。</p>

<h2>筹款与捐赠</h2>

<p>如需了解筹款与捐赠相关信息，包括对 PostgreSQL 相关活动的资金赞助，请访问<a href="/about/donate/">捐赠</a>页面，或直接联系资金管理小组，邮箱为 <a href="mailto:funds-group@postgresql.org">funds-group@postgresql.org</a>。
</p>

<h2>用户组联络</h2>

<p>如果您正在为 PostgreSQL 用户组寻求支持、希望创建用户组，或需要用户组相关资源，请联系 <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a>。如需查看活跃的 <a href="/community/user-groups/">PostgreSQL 用户组</a>列表，请访问<a href="/community/user-groups/">本地用户组</a>页面。</p>

<h2>媒体咨询</h2>

<p>如需媒体咨询，请参阅<a href="/about/press/">媒体</a>页面。</p>

<h2>网站管理员</h2>

<p>请通过 <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a> 联系 PostgreSQL 网站管理员。</p>

<h2>pg.center 网站问题</h2>

<p>以上渠道均属于 PostgreSQL 官方社区，处理的是 PostgreSQL 本身和 postgresql.org 的事务。本站（pg.center）是社区维护的中文站点，与官方无隶属关系；译文错误、页面显示问题或功能建议，请在 <a href="https://github.com/pgsty/pgweb/issues" target="_blank" rel="noopener">pgsty/pgweb</a> 仓库提交 issue，也欢迎直接提交 pull request。本站的版权、署名与商标说明见<a href="/about/pgcenter/">关于 pg.center</a>。</p>

<h2>联系方式</h2>

<p>本站由 <a href="https://pigsty.cc/" target="_blank" rel="noopener">Pigsty</a> 项目组维护，维护者<a href="https://vonng.com/" target="_blank" rel="noopener">冯若航</a>。与本站相关的合作、转载或其他事宜，可通过上述仓库或 Pigsty 网站上的联系方式与我们取得联系。</p>
{%endblock%}
