{%extends "base/page.html"%}
{%block title%}捐赠{%endblock%}
{%block contents%}

<h1>捐赠 <i class="far fa-money-bill-alt"></i></h1>

<p>
    本页列出了<a href="/community/recognised-npos">认可的非营利组织</a>以及对
    PostgreSQL 项目至关重要的其他非营利组织。向这些组织捐赠有助于支持我们的工作。
</p>
<p>
    支持认可的非营利组织有多种方式，包括成为<a href="/about/financial/">财务赞助者</a>。
    您可以在<a href="/about/financial/">财务赞助</a>页面或认可的非营利组织网站上了解更多信息。
</p>

<h2>PostgreSQL 社区协会</h2>
<p>
  <a href="https://postgres.ca">PostgreSQL Community Association</a>（PGCA）是应
  <a href="/developer/core/">PostgreSQL 核心团队</a> 的要求而设立的专用非营利组织，
  负责管理和保护项目的关键资产，如域名和商标。向 PGCA 捐赠可以支持维护开源项目所需的
  一般项目管理工作。
</p>
<p><a class="btn btn-primary" href="https://www.postgres.ca/donate">捐赠给 PostgreSQL</a></p>

<h2>PostgreSQL 欧洲（PGEU）</h2>
<p>PostgreSQL Europe 是一个欧洲地区的非营利组织，专注于支持欧洲的其他 PostgreSQL 社区团体。</p>
<p><a class="btn btn-primary" href="https://www.postgresql.eu/donate/">捐赠给 PGEU</a></p>

<h2>PostgreSQL 美国（PgUS）</h2>
<p>PostgreSQL United States 是美国的 PostgreSQL 非营利组织，专注于教育、用户组和推广倡导。</p>
<p><a class="btn btn-primary" href="https://postgresql.us/donate/">捐赠给 PgUS</a></p>

<h2>其他 PostgreSQL 工作</h2>
<p>PostgreSQL 是
  <a href="https://www.spi-inc.org/" target="_blank" rel="noopener">Software in the Public Interest</a>
  的附属项目。捐赠给 PostgreSQL 的资金用于赞助全球范围内的 PostgreSQL 相关工作。
  这些资金由<a href="/about/policies/funds-group/">资金组</a>管理。</p>
<p><a class="btn btn-primary" href="/about/donate_pg_org/">捐赠给 PG @ SPI</a></p>

<h2>税收减免</h2>
<p>请注意，PostgreSQL 的捐赠可能享受也可能不享受免税待遇。如需了解更多信息，
请咨询您的捐赠对象和您的税务专业人士。</p>

<h2>PostgreSQL 非营利组织（NPO）认可</h2>
<p>如需了解<a href="/about/policies/npos/">认可的 PostgreSQL 非营利组织（NPO）</a> 如何获得认可，
  请查阅<a href="/about/policies/npos/">此处</a>的指南。</p>

<h2>问题</h2>
<p>如果您对捐赠有任何疑问，请联系
<a href="mailto:funds-group@postgresql.org">PostgreSQL 资金组</a> 或您所捐赠的相应组织。
</p>
{%endblock%}
