{%extends "base/page.html"%}
{%block title%}捐赠{%endblock%}
{%block contents%}

<h1>向 PostgreSQL 捐赠 <i class="far fa-money-bill-alt"></i></h1>

<p>
  PostgreSQL 的捐赠由<a href="/about/policies/funds-group/">资金小组</a>管理。
  捐赠的资金可用于 PostgreSQL 社区所需的各种服务，包括推广材料、项目基础设施、法律费用等。
</p>

<h2>通过信用卡 / Paypal 向 PostgreSQL 捐赠</h2>

您可以使用信用卡或 Paypal 账户向 PostgreSQL 社区捐赠。捐赠将存入 <a href="https://www.spi-inc.org/projects/postgresql/" target="_blank" rel="noopener">Software in the Public Interest（SPI）的 PostgreSQL 账户</a>。

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <fieldset>
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="J2S96PW9NMCDS">
    <input class="btn btn-primary" type="submit" name="submit" value="通过信用卡捐赠" />
  </fieldset>
</form>

<h2>其他捐赠方式</h2>

<p>PostgreSQL 是
  <a href="https://www.spi-inc.org/" target="_blank" rel="noopener">Software in the Public Interest</a> 的关联项目。
  您可以通过 Software in the Public Interest 提供的多种方式向 PostgreSQL 捐赠，包括以下方法：
</p>

<ul>
  <li>通过信用卡捐赠</li>
  <li>通过 Zelle 捐赠</li>
  <li>通过 PayPal 捐赠</li>
  <li>通过支票捐赠</li>
</ul>

<p>
  捐赠时，请务必在捐赠中注明指定用于 <strong>PostgreSQL</strong>。
</p>

<p>
  有关上述捐赠方式以及其他捐赠方式的详细信息，请参阅
  <a href="https://www.spi-inc.org/" target="_blank" rel="noopener">Software In The Public Interest</a> 的
  <a href="https://www.spi-inc.org/donations/" target="_blank" rel="noopener">捐赠页面</a>。
</p>

<h2>税收减免</h2>
<p>
  请注意，PostgreSQL 的捐款可能享受也可能不享受免税待遇。
  更多信息请参阅 <a href="https://www.spi-inc.org/donations/" target="_blank" rel="noopener">SPI 网站</a> 并咨询当地税务顾问。如果您想捐赠非货币物品（如计算机或其他设备），请联系
  <a href="mailto:funds-group@postgresql.org">PostgreSQL 资金小组</a>。</p>

<h2>基础设施捐赠</h2>
<p>
  有许多公司向 PostgreSQL 社区捐赠<a href="/about/servers/">服务器</a>和其他基础设施。如果您有兴趣提供基础设施，请联系
  <a href="mailto:funds-group@postgresql.org">PostgreSQL 资金小组</a>。
</p>


{%endblock%}
