{%extends "base/page.html"%}
{%block title%}治理{%endblock%}

{%block contents%}
<h1>项目治理目录<i class="fa fa-users"></i></h1>
<p>
本页列出了构成项目治理层级的各个团队和委员会的页面链接。请查看各个链接页面以了解每个小组的更多信息，包括成员和章程。
</p>

<h2>核心团队</h2>
<p>
  <a href="/developer/core/">PostgreSQL 核心团队</a>（Core）是 PostgreSQL 项目<a href="/about/policies/">政策</a>和治理的核心仲裁者。
</p>

<h2>系统管理团队</h2>
<p>
  <a href="/about/governance/sysadmin/">PostgreSQL 系统管理团队</a>（PGInfra）运行所有 postgresql.org 基础设施，包括各种公开和非公开的服务。
</p>

<h2>提交者</h2>
<p>
  <a href="/developer/committers/">PostgreSQL 提交者</a> 是拥有向 <a href="https://git.postgresql.org/gitweb/?p=postgresql.git">git 仓库</a> 推送权限的人员。
</p>

<h2>安全团队</h2>
<p>
  <a href="/support/security/">PostgreSQL 安全团队</a> 负责监管与 PostgreSQL 及其密切相关项目有关的漏洞报告和修复工作。如果发现 PostgreSQL 或从 <a href="/download/">PostgreSQL 下载页面</a> 链接的任何安装程序中的安全漏洞，请发送电子邮件至 <a href="mailto:security@postgresql.org">security@postgresql.org</a>。如需报告非安全性 Bug，请访问<a href="/account/submitbug/">报告 Bug</a> 页面。如果您不确定某个问题是否属于安全漏洞，请谨慎起见，发送电子邮件至 <a href="mailto:security@postgresql.org">security@postgresql.org</a>。
</p>

<h2>行为准则委员会</h2>
<p>
  <a href="/about/policies/coc_committee/">行为准则委员会</a>负责接收和调查所有与 <a href="/about/policies/coc/">PostgreSQL 行为准则</a> 相关的投诉。
</p>

<h2>贡献者委员会</h2>
<p>
  <a href="/about/governance/contributors/">贡献者委员会</a>负责维护<a href="/community/contributors/">贡献者档案</a>页面。
</p>

<h2>赞助者委员会</h2>
<p>
  <a href="/about/policies/sponsorship/">赞助者委员会</a>负责维护<a href="/about/sponsors/">赞助者</a>页面。
</p>

<h2>非营利组织</h2>
<p>
  多个<a href="/about/donate/">非营利组织</a>以各种方式为 PostgreSQL 项目提供服务。
</p>

{%endblock%}
