{%extends "base/page.html"%}
{%block title%}许可证{%endblock%}
{%block contents%}
<h1>许可证 <i class="far fa-file-alt"></i></h1>
<p>PostgreSQL 采用 <a href="https://www.opensource.org/licenses/postgresql">PostgreSQL 许可证</a> 发布，这是一种宽松的开源许可证，类似于 BSD 或 MIT 许可证。</p>

<p>
  PostgreSQL 数据库管理系统<br />
  （也称为 Postgres，曾用名 Postgres95）
</p>
<p>
  部分版权所有 &copy; 1996-{% now "Y" %}，PostgreSQL 全球开发组
</p>
<p>
  部分版权所有 &copy; 1994，加利福尼亚大学董事会
</p>
<p>
  允许以任何目的使用、复制、修改和分发本软件及其文档，且无需支付费用，也无需签署书面协议，但前提是所有副本中均须保留上述版权声明、本文段落以及以下两段内容。
</p>
<p>
  在任何情况下，加利福尼亚大学均不对任何一方承担因使用本软件及其文档而产生的直接、间接、特殊、附带或后果性损害的责任，包括利润损失，即使加利福尼亚大学已被告知可能发生此类损害亦然。
</p>
<p>
  加利福尼亚大学明确声明不提供任何保证，包括但不限于适销性和特定用途适用性的默示保证。本软件按“原样”提供，加利福尼亚大学没有义务提供维护、支持、更新、增强或修改。
</p>

<h2>PostgreSQL 会改用其他许可证发布吗？</h2>

<p>
  PostgreSQL 全球开发组致力于将 PostgreSQL 永久保持为自由开源软件。目前没有更改 PostgreSQL 许可证或以其他许可证发布 PostgreSQL 的计划。
</p>
<p>
  如果您想了解更多关于此话题的信息，请查阅<a href="https://www.postgresql.org/list/">邮件列表归档</a>中关于此主题的众多讨论。
</p>
{%endblock%}
