{%extends "base/page.html"%}
{%block title%}政策{%endblock%}
{%block contents%}

<h1>政策 <i class="fas fa-gavel"></i></h1>

<p>有关 PostgreSQL 项目各方面的正式政策可以在这里找到：</p>

<h2>一般政策</h2>

<ul>
    <li><a href="/about/policies/trademarks/">商标</a></li>
    <li><a href="/about/policies/privacy/">隐私</a></li>
    <li>
      <a href="/about/policies/coc/">行为准则</a>
      <ul>
        <li>
          <a href="/about/policies/coc_committee/">委员会</a>
        </li>
      </ul>
    </li>
    <li><a href="/about/policies/funds-group/">资金小组</a></li>
</ul>

<h2>PostgreSQL 项目政策</h2>

<ul>
    <li><a href="/about/policies/project-name/">项目名称</a></li>
    <li><a href="/support/versioning/">版本管理</a></li>
    <li><a href="/support/security/">安全</a></li>
    <li><a href="/about/policies/archives/">归档</a></li>
</ul>

<h2>内容政策</h2>

<ul>
    <li><a href="/about/policies/news-and-events/">新闻与活动</a></li>
    <li><a href="/about/policies/services-and-hosting/">专业服务与托管</a></li>
    <li><a href="/about/policies/planet-postgresql/">Planet PostgreSQL</a></li>
    <li><a href="/about/policies/twitter/">@postgresql Twitter 账户</a></li>
</ul>

<h2>社区认可政策</h2>

<ul>
    <li><a href="/about/policies/contributors/">认可的贡献者</a></li>
    <li><a href="/about/policies/sponsorship/">PostgreSQL 赞助</a></li>
    <li><a href="/about/policies/conferences/">会议</a></li>
    <li><a href="/about/policies/npos/">非营利组织</a></li>
    <li><a href="/about/policies/user-groups/">用户组</a></li>
</ul>

{%endblock%}
