{%extends "base/page.html"%}
{%block title%}新闻{%endblock%}
{%block contents%}
<h1>新闻 <i class="far fa-newspaper"></i></h1>

<p>
  如有任何新闻咨询，请联系 PostgreSQL 公关团队：
  <a href="mailto:press@postgresql.org">press@postgresql.org</a>
</p>

<h2>PostgreSQL 18 新闻资料</h2>

<ul>
  <li><a href="/about/press/presskit18/">新闻资料包</a></li>
  <li><a href="/about/press/faq/">常见问题</a></li>
</ul>

<h2>新闻资料包语言版本</h2>

<p>
  PostgreSQL 18 新闻资料包提供以下语言版本：
</p>

<ul>
  <li>
    <span lang="zh"><a href="/about/press/presskit18/zh/">中文</a></span>
  </li>
  <li>
    <span lang="en"><a href="/about/press/presskit18/en/">英文</a></span>
  </li>
  <li>
    <span lang="fr"><a href="/about/press/presskit18/fr/">法文</a></span>
  </li>
  <li>
    <span lang="de"><a href="/about/press/presskit18/de/">德文</a></span>
  </li>
  <li>
    <span lang="el"><a href="/about/press/presskit18/el/">希腊文</a></span>
  </li>
  <li>
    <span lang="he"><a href="/about/press/presskit18/he/">希伯来文</a></span>
  </li>
  <li>
    <span lang="id"><a href="/about/press/presskit18/id/">印尼文</a></span>
  </li>
  <li>
    <span lang="it"><a href="/about/press/presskit18/it/">意大利文</a></span>
  </li>
  <li>
    <span lang="ja"><a href="/about/press/presskit18/ja/">日文</a></span>
  </li>
  <li>
    <span lang="ko"><a href="/about/press/presskit18/ko/">韩文</a></span>
  </li>
  <li>
    <span lang="pt"><a href="/about/press/presskit18/pt/">葡萄牙文</a></span>
  </li>
  <li>
    <span lang="ru"><a href="/about/press/presskit18/ru/">俄文</a></span>
  </li>
  <li>
    <span lang="es"><a href="/about/press/presskit18/es/">西班牙文</a></span>
  </li>
  <li>
    <span lang="th"><a href="/about/press/presskit18/th/">泰文</a></span>
  </li>
  <li>
    <span lang="uk"><a href="/about/press/presskit18/uk/">乌克兰文</a></span>
  </li>
</ul>

<h3>新闻资料包贡献者</h3>

<p>
  新闻资料包的发布离不开全球 PostgreSQL 社区成员的努力。我们在此向以下人员致以最诚挚的感谢：
</p>

<ul>
  <li>Alifia Achson</li>
  <li>Álvaro Herrera</li>
  <li>Andrea Farci</li>
  <li>Andreas Scherbaum</li>
  <li>Andres Freund</li>
  <li>Bruce Momjian</li>
  <li>Carlos Chapi</li>
  <li>Daniel Westermann</li>
  <li>Domenico Sgarbossa</li>
  <li>Euler Taveira</li>
  <li>Grant Zhou</li>
  <li>Gunnar "Nick" Bluth</li>
  <li>Ioseph Kim</li>
  <li>Jacob Champion</li>
  <li>Jakub Wartak</li>
  <li>Jean-Christophe Arnu</li>
  <li>Jeff Davis</li>
  <li>Jelte Fennema-Nio</li>
  <li>Jian He</li>
  <li>Jimmy Angelakos</li>
  <li>John Naylor</li>
  <li>Jonathan Katz</li>
  <li>Josef Šimánek</li>
  <li>Julian Markwort</li>
  <li>Masahiko Sawada</li>
  <li>Matthias van de Meent</li>
  <li>Melanie Plageman</li>
  <li>Michael Goldberg</li>
  <li>Nathan Bossart</li>
  <li>Noah Misch</li>
  <li>Nozomi Anzai</li>
  <li>Pavlo Golub</li>
  <li>Peter Geoghegan</li>
  <li>Peter Smith</li>
  <li>Philippe Viegas</li>
  <li>Ruike Sun</li>
  <li>Stefanie Janine Stölting</li>
  <li>Stéphane Schildknecht</li>
  <li>Tetiana Petiurenko</li>
  <li>Vadim Iatsenko</li>
  <li>Xueyu Gao</li>
</ul>
{%endblock%}
