{%extends "base/page.html"%}
{%block title%}您的账户{%endblock%}
{%block contents%}
<h1>您的账户 <i class="far fa-address-card"></i></h1>
<p>
在此部分，您可以管理与您的 PostgreSQL 社区账户关联的所有站点信息。
除了基本的个人资料信息外，还包括新闻和活动、专业服务及评论。
请注意，您提交到本站的大部分数据需要经过管理员审核后才能发布。
</p>
<p>
要提交新记录或编辑现有记录，请在左侧菜单中选择记录类型。
</p>

<h2>权限模型</h2>
<p>
新闻、活动、产品和专业服务隶属于某个组织。
一个或多个用户可以被授予管理某个组织数据的权限。
如果您没有某个组织的权限但认为应当拥有，请联系该组织的现有管理员。
您可以在<a href="orglist/">此处</a>查看组织和管理员列表。
</p>

{% for cat in modobjects %}
<h2>{{cat.title}}的项目</h2>
{%for l in cat.objects %}
{%if l %}
<h3><a href="/account/edit/{{l.editurl}}/">{{l.title}}</a></h3>
{%for o in l.objects %}
<ul>
<li>{{o.title}}</li>
</ul>
{%endfor%}
{%endif%}
{%endfor%}
{%endfor%}

{%endblock%}
