{%extends "base/page.html"%}
{%block title%}您的账户{%endblock%}
{%block contents%}
<h1>{{title|title}} <i class="fas fa-th-list"></i></h1>
<p>
  以下{{title}}与您管理的组织相关联。
</p>

{%if objects.inprogress %}
<h3>未提交审核</h3>
<p>
  您可以不限次数地编辑这些{{title}}，但在提交审核并获批之前，它们不会被发布。
</p>
<ul>
  {%for o in objects.inprogress %}
    <li><a href="/account/{{suburl}}/{{o.id}}/">{{o}}</a> &mdash; (<a href="/account/{{suburl}}/{{o.id}}/submit/">提交审核</a>)</li>
  {%endfor%}
</ul>
<p>
  <strong>注意</strong>：每个{{title}}都需要单独提交审核。
</p>
{%endif%}

{% if objects.unapproved %}
<h3>等待审核员批准</h3>
<p>
  这些{{title}}正在等待审核员批准。审核员审核完毕后，它们将被发布。
{%if not tristate%}
  在等待审核员批准期间，您可以对其进行进一步修改。
{%else%}
  如果您撤回提交，它将返回<i>未提交</i>状态，届时您可以进行进一步修改。
{%endif%}
</p>
<ul>
  {%for o in objects.unapproved %}
{%if tristate%}
    <li>{{o}} (<a href="/account/{{suburl}}/{{o.id}}/withdraw/">撤回</a>)</li>
{%else%}{# one-step approval allows editing in unapproved state #}
    <li><a href="/account/{{suburl}}/{{o.id}}/">{{o}}</a></li>
{%endif%}
  {%endfor%}
</ul>
{% endif %}

{% if objects.approved %}
<h3>已批准</h3>
{%if not editapproved%}
<p>
  这些{{title}}已获批准并已发布，无法再编辑。如需对这些对象进行任何更改，请联系
  <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>。
</p>
{%else%}
<p>
  这些对象已获批准并已发布，但您仍然可以编辑它们。您所做的任何更改都会通知审核员，
  审核员可能会根据更改内容决定驳回该对象。
</p>
{%endif%}
<ul>
  {%for o in objects.approved %}
{%if editapproved%}
    <li><a href="/account/{{suburl}}/{{o.id}}/">{{o}}</a></li>
{%else%}
    <li>{{o}}</li>
{%endif%}
  {%endfor%}
</ul>
{% endif %}

{%if submit_header%}
<p>{{submit_header|safe}}</p>
{%endif%}
<p>
  <a class="btn btn-primary" href="/account/{{suburl}}/new/">提交{{title}}</a>
</p>

{%endblock%}
