{%extends "base/page.html"%}
{%block title%}组织{%endblock%}
{%block contents%}
<h1>组织 <i class="fa fa-users"></i></h1>
<p>
以下组织已在我们的数据库中注册。
</p>
<table class="table table-striped">
  <thead>
    <tr>
     <th>组织</th>
     <th>管理员</th>
    </tr>
  </thead>
  <tbody>
    {%for o in orgs%}
     <tr>
      <th scope="row">{{o.name}}</th>
      <td>{%for m in o.managers.all%}{{m.first_name}} {{m.last_name}}{%if not forloop.last%}<br/>{%endif%}{%endfor%}</td>
     </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
