{%extends "base/page.html"%}
{% load pgfilters %}
{%block title%}密码重置{%endblock%}
{%block contents%}

{% if validlink %}

<h1>输入新密码 <i class="fas fa-key"></i></h1>

<p>请输入两次新密码，以便我们确认您输入正确。</p>

<form action="" method="post">
  {% csrf_token %}
  <div class="form-group row">
    {% if form.new_password1.errors %}
      {% for e in form.new_password1.errors %}
        <div class="col-lg-12 alert alert-danger">{{e}}</div>
      {% endfor %}
    {% endif %}
    <label class="col-form-label col-sm-3" for="id_new_password1">新密码：</label>
    <div class="col-sm-9">
      {{ form.new_password1|field_class:"form-control" }}
    </div>
  </div>
  <div class="form-group row">
    {% if form.new_password2.errors %}
      {% for e in form.new_password2.errors %}
        <div class="col-lg-12 alert alert-danger">{{e}}</div>
      {% endfor %}
    {% endif %}
    <label class="col-form-label col-sm-3" for="id_new_password2">确认新密码：</label>
    <div class="col-sm-9">
      {{ form.new_password2|field_class:"form-control" }}
    </div>
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input class="btn btn-primary" type="submit" value="修改密码" />
  </div>
</form>

{% else %}

<h1>密码重置失败 <i class="fas fa-key"></i></h1>

<p>密码重置链接无效，可能是因为该链接已被使用过。请重新申请密码重置。</p>

{% endif %}

{% endblock %}
