{%extends "base/form.html"%}
{%block title%}确认提交{{objtype}}{%endblock%}
{%block contents%}
<h1>确认提交{{objtype}}</h1>

<p>
  您即将提交以下{{objtype}}进行审核。请注意，一旦提交，内容将无法再修改。
</p>
{%if obj.extramodnotice %}
<p>
  {{obj.extramodnotice}}
</p>
{%endif%}

<h2>您的{{objtype}}</h2>
{%for fld, title, contents, mdcontents, note in preview %}
<div class="row">
  <div class="col-sm-2 col-form-label"><strong>{{title}}</strong></div>
  <div class="col-sm-10">
    {%if mdcontents%}
      <div class="moderation-mdpreview-wrap moderation-preview-container">
        {# Use hidden textarea to store raw HTML without browser parsing #}
        <textarea class="moderation-preview-data" style="display:none;">{{mdcontents}}</textarea>
      </div>
    {%else%}
      {{contents}}
    {%endif%}
  </div>
</div>
{%endfor%}

<h2>确认</h2>
{%include "base/form_contents.html" with savebutton="提交审核"%}

{%endblock%}

{%block extrascript%}
<script src="/media/js/moderation_preview.js?{{gitrev}}"></script>
{%endblock%}
