{%extends "base/page.html"%}
{% load pgfilters %}
{%block title%}编辑用户资料{%endblock%}
{%block contents%}
<h1>编辑用户资料 <i class="far fa-address-card"></i></h1>

<form method="post" action=".">
  {% csrf_token %}
  {% if userform.errors or profileform.errors or contribform.errors %}
    <div class="alert alert-danger" role="alert">
      请更正以下错误，然后重新提交表单。
    </div>
  {% endif %}
  <div class="form-group row">
    <label class="col-form-label col-sm-3">用户名：</label>
    <div class="col-sm-9">
      {{ user.username }}
    </div>
  </div>
  {% for field in userform %}
    <div class="form-group row">
      {% if field.errors %}
        {% for e in field.errors %}
          <div class="col-lg-12 alert alert-danger">{{e}}</div>
        {% endfor %}
      {% endif %}
      <label class="col-form-label col-sm-3" for="{{ field.id }}">
        {{ field.label|title }}
        {% if field.help_text %}
          <p><small>{{ field.help_text }}</small></p>
        {% endif %}
      </label>
      <div class="col-sm-9">
        {{ field|field_class:"form-control" }}
      </div>
    </div>
  {% endfor %}
  {% for field in profileform %}
    <div class="form-group row">
      {% if field.errors %}
        {% for e in field.errors %}
          <div class="col-lg-12 alert alert-danger">{{e}}</div>
        {% endfor %}
      {% endif %}
      <label class="col-form-label col-sm-3" for="{{ field.id }}">
        {{ field.label }}
        {% if field.help_text %}
          <p><small>{{ field.help_text }}</small></p>
        {% endif %}
      </label>
      <div class="col-sm-9">
        {{ field|field_class:"form-control" }}
      </div>
    </div>
  {% endfor %}

    <h2>备用邮箱地址</h2>
    <p>您可以为账户添加一个或多个备用邮箱地址，例如用于订阅邮件列表。</p>
    {%if secondaryaddresses%}
    <p>请注意，删除此处的任何地址将级联到关联系统，例如可能导致自动取消邮件列表订阅。</p>
    <p></p>
    <p>以下备用地址当前已注册到您的账户：</p>
    <ul>
      {% for a in secondaryaddresses %}
      <li>{{a.email}}{%if not a.confirmed%} <em>（自 {{a.sentat}} 起等待确认）</em>{%endif%} (<input type="checkbox" name="deladdr_{{a.id}}" value="1"> 删除)</li>
      {%endfor%}
    </ul>
    {%if secondarypending %}
    <p>
      您账户上的一个或多个备用地址处于待确认状态。系统已向该地址发送了一封确认邮件。
      请在登录此账户的状态下打开邮件中的链接以确认地址。如果邮箱地址在约24小时内未确认，
      将被自动删除。如果您未收到确认邮件，可以删除该地址并重新添加，让系统重新发送验证邮件。
    </p>
    {%endif%}
    {%endif%}
    <h3>添加新邮箱地址</h3>
    {%for field in secondaryemailform%}
      <div class="form-group row">
        {% if field.errors %}
          {% for e in field.errors %}
            <div class="col-lg-12 alert alert-danger">{{e}}</div>
          {% endfor %}
        {% endif %}
        <label class="col-form-label col-sm-3" for="{{ field.id }}">
          {{ field.label }}
          {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
          {% endif %}
        </label>
        <div class="col-sm-9">
          {{ field|field_class:"form-control" }}
        </div>
      </div>
    {%endfor%}

  {% if contribform %}
    <h2>编辑贡献者信息</h2>
    <p>您可以编辑显示在<a href="/community/contributors/" target="_blank" rel="noopener">贡献者</a>页面上的信息。请注意，您的更改将立即生效！
    </p>
    {% for field in contribform %}
      <div class="form-group row">
        {% if field.errors %}
          {% for e in field.errors %}
            <div class="col-lg-12 alert alert-danger">{{e}}</div>
          {% endfor %}
        {% endif %}
        <label class="col-form-label col-sm-3" for="{{ field.id }}">
          {{ field.label }}
          {% if field.help_text %}
            <p><small>{{ field.help_text }}</small></p>
          {% endif %}
        </label>
        <div class="col-sm-9">
          {{ field|field_class:"form-control" }}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="submit-row">
    <input class="btn btn-primary" type="submit" value="保存" />
  </div>
</form>
{%endblock%}
