{%extends "base/page.html"%}
{%load pgmarkdown%}
{%block title%}CVE-{{ security_patch.cve }}: {{ security_patch.description }}{%endblock%}
{%block contents%}

<h1>CVE-{{ security_patch.cve }} <i class="fas fa-lock"></i></h1>
<h3>{{ security_patch.description }}</h3>

{% if security_patch.details %}
{{ security_patch.details|markdown }}
{% endif %}

<h2>版本信息</h2>

<table class="table">
  <thead>
    <tr>
      <th>影响版本</th>
      <th>修复于</th>
      {% if security_patch.newspost %}
      <th>修复发布</th>
      {% endif %}
  </thead>
  <tbody>
    {% for version in versions %}
    <tr>
      <td>
        {% if version.version.tree >= 10 %}
          {{ version.version.tree|floatformat:"0" }}
        {% else %}
          {{ version.version.tree }}
        {% endif %}
      </td>
      <td>
        <a href="/docs/release/{% if version.version.tree >= 10 %}{{ version.version.tree|floatformat:"0" }}.{{ version.fixed_minor }}{% else %}{{ version.version.tree }}.{{ version.fixed_minor }}{% endif %}">
          {% if version.version.tree >= 10 %}
            {{ version.version.tree|floatformat:"0" }}.{{ version.fixed_minor }}
          {% else %}
            {{ version.version.tree }}.{{ version.fixed_minor }}
          {% endif %}
        </a>
      </td>
      {% if security_patch.newspost %}
      <td>
        <a href="/about/news/{{ security_patch.newspost.title|slugify }}-{{ security_patch.newspost.id }}/">
          {{ security_patch.newspost.date }}
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  有关 <a href="/support/versioning/">PostgreSQL 版本策略</a> 的更多信息，请访问<a href="/support/versioning/">版本策略页面</a>。
</p>

{% if security_patch.cvssscore >= 0 %}
<h2>CVSS 3.0</h2>

<table class="table">
  <tbody>
    <tr>
      <th>总分</th>
      <td><strong>{{ security_patch.cvssscore }}</strong></td>
    </tr>
    <tr>
      <th>组件</th>
      <td>{{ security_patch.component }}</td>
    </tr>
    <tr>
      <th>向量</th>
      <td>
        <a href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector={{ security_patch.cvssvector }}&version=3.0" target="_blank" rel="noopener noreferer">
          {{ security_patch.cvssvector }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
{% endif %}

<h2>报告安全漏洞</h2>

<p>
  如果您希望报告 PostgreSQL 中的新安全漏洞，请发送电子邮件至
  <a href="mailto:security@postgresql.org">security@postgresql.org</a>。
</p>

<p>
  如需报告非安全性 Bug，请参阅<a href="/account/submitbug/">报告 Bug</a> 页面。
</p>
{%endblock%}
