{%extends "base/page.html"%}
{%block title%}安全信息{%endblock%}
{%block contents%}

<h1>安全信息 <i class="fas fa-lock"></i></h1>

<p>
  PostgreSQL 全球开发组（PGDG）高度重视安全问题。这使我们的用户能够信赖 PostgreSQL 来保护他们的关键业务数据。
</p>

<p>
  PostgreSQL 全球开发组遵循一种在 PostgreSQL 本身及其部署环境（包括硬件、操作系统和应用层——编程语言、框架和客户端库）之间共担责任的模型。PostgreSQL 文档提供了关于 PostgreSQL 内置安全特性以及如何安全配置和运行 PostgreSQL 的信息。
</p>

<p>
  安全漏洞可能存在于 PostgreSQL 本身以及 PostgreSQL 生态系统中的软件中，包括客户端库、扩展、安装程序和其他实用工具。本页介绍了什么被视为 PostgreSQL 的安全漏洞、如何报告 PostgreSQL 安全漏洞，以及安全漏洞的修复是如何发布的。
</p>

<p>
  请注意，PostgreSQL 项目不提供漏洞赏金。
</p>

<h2>CVE 编号机构</h2>

<p>
  PostgreSQL 项目是一个 CVE 编号机构（CNA），与 Red Hat 作为我们的 CNA Root 合作。这使我们能够为 PostgreSQL 及密切相关的项目分配自己的 CVE 编号并发布 CVE 记录。
</p>

<p>
  目前，我们可以应请求为以下项目分配 CVE 编号，请发送邮件至
  <a href="mailto:cna@postgresql.org">cna@postgresql.org</a>：
</p>

<ul>
  <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
  <li><a href="https://yum.postgresql.org/">PostgreSQL RPM 打包</a></li>
  <li><a href="https://apt.postgresql.org/">PostgreSQL DEB 打包</a></li>
  <li><a href="https://github.com/EnterpriseDB/edb-installers">PostgreSQL Windows/macOS 安装程序（EDB）</a></li>
  <li><a href="https://jdbc.postgresql.org/">pgJDBC</a></li>
  <li><a href="https://odbc.postgresql.org/">psqlODBC</a></li>
  <li><a href="https://www.pgadmin.org/">pgAdmin</a></li>
  <li><a href="https://www.pgbouncer.org/">PgBouncer</a></li>
  <li><a href="https://gitlab.com/dalibo/postgresql_anonymizer/">PostgreSQL Anonymizer</a></li>
</ul>

<p>
  其他项目可以通过发送邮件至
  <a href="mailto:cna@postgresql.org">cna@postgresql.org</a> 申请加入上述列表。
</p>

<p>
  <strong>注意：</strong>安全团队仅在项目成员请求时才会为项目分配 CVE。如果您认为在 PostgreSQL 或其软件包和安装程序之外的项目中发现了安全问题，请联系该项目的安全团队。详见下文了解更多详情。
</p>

<h2>什么是 PostgreSQL 的安全漏洞？</h2>

<p>
  PostgreSQL 中的安全漏洞是指允许用户获取其无权使用的权限或数据，或允许用户通过 PostgreSQL 进程执行任意代码的问题。
</p>

<p>
  PostgreSQL 安全团队不认为 PostgreSQL 超级用户执行的操作构成安全漏洞。但是，非特权用户提升为超级用户的报告通常被视为有效的安全漏洞。
</p>

<p>
  PostgreSQL 安全团队通常不认为通过经过身份验证的有效 SQL 语句对 PostgreSQL 服务器造成的拒绝服务属于安全漏洞。此类拒绝服务问题仍可能是一个 <a href="/account/submitbug/">Bug</a>，我们鼓励您在<a href="/account/submitbug/">报告 Bug</a> 页面进行报告。
</p>

<p>
  请不要报告 postgresql.org 邮件列表缺少 DMARC 的问题。这是设计使然。
</p>

<h2>报告 PostgreSQL 安全漏洞</h2>

<p>
  对于 PostgreSQL 或从 <a href="/download/">PostgreSQL 下载页面</a>链接的任何安装程序中的安全漏洞，请发送邮件至
  <a href="mailto:security@postgresql.org">security@postgresql.org</a>。
</p>

<p>
  如需报告非安全相关的 Bug，请访问<a href="/account/submitbug/">报告 Bug</a> 页面。
</p>

<p>
  如果您不确定某个问题是否属于安全漏洞，请本着谨慎的原则发送邮件至
  <a href="mailto:security@postgresql.org">security@postgresql.org</a>。
</p>

<h2>报告非 PostgreSQL 安全漏洞</h2>

<p>
  以下是如何报告 PostgreSQL 相关项目安全漏洞的方式：
</p>

<ul>
  <li>
    对于 <a href="https://jdbc.postgresql.org">PostgreSQL JDBC Driver</a> 的安全漏洞，请发送邮件至
    <a href="mailto:pgsql-jdbc-security@lists.postgresql.org">pgsql-jdbc-security@lists.postgresql.org</a>。
  </li>
  <li>
    对于 <a href="https://www.pgadmin.org/">pgAdmin</a> 的安全漏洞，请发送邮件至
    <a href="mailto:security@pgadmin.org">security@pgadmin.org</a>。
  </li>
  <li>
    如果您希望报告 PostgreSQL 生态系统中其他开源项目（例如驱动程序、扩展或安装程序）的安全漏洞，且需要安全的通信渠道，请发送邮件至
    <a href="mailto:security@postgresql.org">security@postgresql.org</a>。
  </li>
</ul>

<h2>PostgreSQL 安全更新发布</h2>

<p>
  PostgreSQL 项目将安全修复作为<a href="/support/versioning/">小版本更新</a>的一部分发布。建议您始终使用最新的小版本，因为它还包含其他非安全相关的修复。
</p>

<p>
  包含新功能的 PostgreSQL 大版本发布会包含所有先前的安全修复。
</p>

<p>
  如果您在 PostgreSQL 中发现了安全漏洞，PostgreSQL 安全团队将在发布说明中对您进行致谢，并为该漏洞注册 CVE。<strong>请不要在 PostgreSQL 安全团队之外独立注册 CVE</strong>。
</p>

<h2>PostgreSQL 安全通知</h2>

<p>
  要接收有关安全发布或其他安全相关新闻的通知，您可以订阅 <a href="https://www.postgresql.org/list/">pgsql-announce</a> 邮件列表。如果您将订阅设置为仅包含 <em>Security</em> 标签，则会排除发送到此列表的所有其他公告。
</p>

<h2>已知 PostgreSQL 安全漏洞</h2>

<p>
  PostgreSQL 全球开发组（PGDG）认为安全信息的准确性、完整性和可用性对我们的用户至关重要。我们选择将所有信息汇集在此页面上，便于按多种条件搜索安全漏洞。包括：
</p>

<ul>
  <li>安全漏洞存在于哪些大版本中</li>
  <li>安全漏洞在哪些小版本更新中得到修复</li>
  <li>利用漏洞是否需要有效的登录凭证</li>
  <li>CVSS 评分</li>
</ul>

<p>
  您可以通过点击下表中的链接查找安全漏洞的更多详细信息。
</p>

<h3>
  {%if version%}PostgreSQL {{version.numtree}}{%else%}受支持版本{%endif%}中已知的 PostgreSQL 安全漏洞
</h3>

{%if version and not version.supported%}
<div class="border border-danger text-danger text-center mb-3">
  <h1 class="text-danger">不受支持的版本</h1>
  <p>
    您当前正在查看不受支持版本的 PostgreSQL 安全漏洞。如果您仍在使用 PostgreSQL {{version.numtree}}，应尽快升级。
  </p>
</div>
{% endif %}

<p>
  您可以按版本过滤补丁视图，仅显示特定版本的补丁：<br />
  {%for v in supported%}
    <a href="/support/security/{{v.numtree}}/">{{v.numtree}}</a>{%if not forloop.last%} -{%endif%}
  {%endfor%}
  - <a href="/support/security/">全部</a>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>参考</th>
      <th>影响版本</th>
      <th>修复版本</th>
      <th><a href="#comp">组件</a>与 CVSS v3 基础评分</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
    {%for p in patches%}
      <tr>
        <td>
          {%if p.cve%}<span class="nobr"><a href="/support/security/CVE-{{ p.cve }}/">CVE-{{p.cve}}</a></span><br/>{%endif%}
          {%if p.newspost%}<a href="/about/news/{{p.newspost.title|slugify}}-{{p.newspost.id}}/">公告</a><br/>{%endif%}
        </td>
        <td>{{p.affected|join:", "}}</td>
        <td>{{p.fixed|join:", "}}</td>
        <td>{{p.component}}<br/>
          {%if p.cvssscore >= 0%}<a href="https://nvd.nist.gov/vuln-metrics/cvss/v3-calculator?vector={{p.cvssvector}}">{{p.cvssscore}}</a><br/><span class="cvssvector">{{p.cvssvector}}</span>
    {%else%}Legacy: {{p.legacyscore}}{%endif%}</td>
        <td>{{p.description}}<br/><br/><a href="/support/security/CVE-{{ p.cve }}/">更多详情</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>不受支持的版本</h3>

<p>
  您还可以查看不受支持版本的已归档安全补丁。请注意，这些版本已停止维护，不再提供进一步的安全补丁。<br/>
  {%for v in unsupported%}
    <a href="/support/security/{{v.numtree}}/">{{v.numtree}}</a>{%if not forloop.last%} -{%endif%}
  {%endfor%}
</p>

<h3 id="comp">组件</h3>

<p>
  以下组件引用用于上表中：
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>组件</th>
      <th>描述</th>
    </tr>
  </thead>
  <tbody>
      <tr>
       <td>核心服务器</td>
       <td>此漏洞存在于核心服务器产品中。</td>
      </tr>

      <tr>
       <td>客户端</td>
       <td>此漏洞仅存在于客户端库或客户端应用程序中。</td>
      </tr>

      <tr>
       <td>contrib 模块</td>
       <td>此漏洞存在于 contrib 模块中。从源代码安装 PostgreSQL 时，默认不会安装 contrib 模块。它们可能通过二进制包安装。</td>
      </tr>

      <tr>
       <td>客户端 contrib 模块</td>
       <td>此漏洞存在于仅在客户端使用的 contrib 模块中。</td>
      </tr>

      <tr>
       <td>打包</td>
       <td>此漏洞存在于 PostgreSQL 二进制打包中，例如安装程序或 RPM。</td>
      </tr>
  </tbody>
</table>

<h2>PostgreSQL 安全团队</h2>

<p>
  PostgreSQL 安全团队由一组在数据库和信息安全各方面具有经验的 PostgreSQL 项目贡献者组成。
</p>

<p>
  以下是安全团队成员列表：
</p>

<ul>
  <li>Álvaro Herrera</li>
  <li>Andres Freund</li>
  <li>Andrew Dunstan</li>
  <li>Bruce Momjian</li>
  <li>Dave Page</li>
  <li>Greg Stark</li>
  <li>Heikki Linnakangas</li>
  <li>Jacob Champion</li>
  <li>Joe Conway</li>
  <li>Jonathan Katz</li>
  <li>Magnus Hagander</li>
  <li>Michael Paquier</li>
  <li>Nathan Bossart</li>
  <li>Noah Misch</li>
  <li>Peter Eisentraut</li>
  <li>Robert Haas</li>
  <li>Stefan Kaltenbrunner</li>
  <li>Tom Lane</li>
</ul>
{%endblock%}
