{% extends "pages/about/press/presskit14/base.html" %}

{% block presskit_content %}
<h1>PostgreSQL 14 发布！</h1>

<p>PostgreSQL 全球开发组今天宣布 <a href="https://www.postgresql.org/docs/14/release-14.html">PostgreSQL 14</a> 正式发布，这是世界上<a href="https://www.postgresql.org/">最先进的开源数据库</a>的最新版本。</p>

<p>PostgreSQL 14 带来了多项新功能，可帮助开发人员和管理员部署数据驱动的应用程序。PostgreSQL 继续在复杂数据类型上引入创新，包括更便捷地访问 JSON 以及支持不连续范围数据。此次发布还延续了 PostgreSQL 在高性能和分布式工作负载方面的改进，在连接并发、高写入负载、查询并行和逻辑复制方面都有所提升。</p>

<p>“PostgreSQL 的最新版本提升了用户大规模管理数据工作负载的能力，增强了可观察性，并加入了有助于应用开发人员的新功能，”PostgreSQL 核心团队成员 Magnus Hagander 说。“PostgreSQL 14 证明了全球 PostgreSQL 社区致力于响应反馈，并持续提供由大大小小组织部署的创新数据库软件。”</p>

<p><a href="https://www.postgresql.org">PostgreSQL</a> 是一种创新的数据管理系统，以可靠性和健壮性著称。得益于<a href="https://www.postgresql.org/community/">全球开发者社区</a>超过 25 年的开源开发，它已成为各种规模组织首选的开源关系型数据库。</p>

<h3 id="json-">JSON 便利和多范围</h3>

<p>PostgreSQL 自 9.2 版起就已支持对 <a href="https://www.postgresql.org/docs/14/datatype-json.html">JSON</a> 数据进行操作，只是读取值时所使用的语法比较特殊。PostgreSQL 14 现在可以<a href="https://www.postgresql.org/docs/14/datatype-json.html#JSONB-SUBSCRIPTING">使用下标访问 JSON 数据</a>。例如，下面这样的查询现在可以正常工作：
<code>SELECT (&#39;{ &quot;postgres&quot;: { &quot;release&quot;: 14 }}&#39;::jsonb)[&#39;postgres&#39;][&#39;release&#39;];</code></p>

<p>这使 PostgreSQL 在从 JSON 数据中检索信息时，与常见语法保持一致。PostgreSQL 14 新增的下标框架通常也可扩展到其他嵌套数据结构，本次发布还将其应用到了 <a href="https://www.postgresql.org/docs/14/hstore.html"><code>hstore</code></a> 数据类型。</p>

<p><a href="https://www.postgresql.org/docs/14/rangetypes.html">Range 类型</a> 也最早随 PostgreSQL 9.2 发布。现在通过引入“<a href="https://www.postgresql.org/docs/14/rangetypes.html#RANGETYPES-BUILTIN">multirange</a>”数据类型，PostgreSQL 支持非连续范围数据。multirange 是由不重叠范围组成的有序列表，可让开发人员通过更简单的查询处理复杂的范围序列。PostgreSQL 原生的范围类型（日期、时间、数字）支持 multirange，其他数据类型也可以扩展使用 multirange。</p>

<h3 id="-">高工作负载的性能改进</h3>

<p>PostgreSQL 14 为使用多个连接的工作负载带来了显著的吞吐量提升，一些基准测试显示速度提高了 2 倍。此版本还通过减少频繁更新索引的表上的索引膨胀，继续改进 B-树索引的整体管理。</p>

<p>PostgreSQL 14 引入了<a href="https://www.postgresql.org/docs/14/libpq-pipeline-mode.html">管道查询</a>能力，可显著提升高延迟连接或包含大量小型写入（<code>INSERT</code>/<code>UPDATE</code>/<code>DELETE</code>）操作的工作负载性能。由于这是客户端特性，因此只要使用 14 版客户端，或使用基于 14 版 libpq 构建的客户端驱动程序，就可以在任何现代 PostgreSQL 数据库上使用管道模式。</p>

<h3 id="-">分布式工作负载的增强功能</h3>

<p>分布式 PostgreSQL 数据库将从 PostgreSQL 14 中受益。使用<a href="https://www.postgresql.org/docs/current/logical-replication.html">逻辑复制</a>时，PostgreSQL 现在可以将正在进行中的事务流式传输给订阅者，这对在订阅端应用大型事务有显著的性能优势。PostgreSQL 14 还为支撑逻辑复制的逻辑解码系统添加了若干其他性能改进。</p>

<p><a href="https://www.postgresql.org/docs/14/sql-createforeigndatawrapper.html">外部数据包装器</a>用于跨 PostgreSQL 和其他数据库处理联合工作负载，现在可以利用 PostgreSQL 14 中的并行查询特性。本版本在 <a href="https://www.postgresql.org/docs/14/postgres-fdw.html"><code>postgres_fdw</code></a>（与其他 PostgreSQL 数据库接口的外部数据包装器）中实现了这一能力。</p>

<p>除了支持并行查询之外，<code>postgres_fdw</code> 现在还可以使用<a href="https://www.postgresql.org/docs/14/sql-importforeignschema.html"><code>IMPORT FOREIGN SCHEMA</code></a> 指令在外部表上批量插入数据并导入表分区。</p>

<h3 id="-">管理和可观察性</h3>

<p>PostgreSQL 14 将其性能提升扩展到了 <a href="https://www.postgresql.org/docs/14/routine-vacuuming.html">vacuum</a> 系统，包括减少 B-树索引开销的优化。此版本还添加了 vacuum 的“紧急模式”，用于防止事务 ID 环绕。<a href="https://www.postgresql.org/docs/14/sql-analyze.html"><code>ANALYZE</code></a> 用于收集数据库统计信息，基于自身的性能改进，现在在 PostgreSQL 14 中运行得明显更快。</p>

<p><a href="https://www.postgresql.org/docs/14/runtime-config-client.html#GUC-DEFAULT-TOAST-COMPRESSION">现在可以配置</a> PostgreSQL 的 <a href="https://www.postgresql.org/docs/14/storage-toast.html">TOAST</a> 系统的压缩选项。TOAST 系统用于存储较大的数据，例如文本块或几何图形。</p>

<p>PostgreSQL 14 为 TOAST 列添加了 LZ4 压缩，同时保留对 <code>pglz</code> 压缩的支持。</p>

<p>PostgreSQL 14 添加了几个新功能来帮助监控和可观察性，包括<a href="https://www.postgresql.org/docs/14/progress-reporting.html#COPY-PROGRESS-REPORTING">跟踪 <code>COPY</code> 命令的进度</a>、<a href="https://www.postgresql.org/docs/14/monitoring-stats.html#MONITORING-PG-STAT-WAL-VIEW">预写日志（WAL）活动</a>和<a href="https://www.postgresql.org/docs/14/monitoring-stats.html#MONITORING-PG-STAT-REPLICATION-SLOTS-VIEW">复制槽统计信息</a>。启用<a href="https://www.postgresql.org/docs/14/runtime-config-statistics.html#GUC-COMPUTE-QUERY-ID"><code>compute_query_id</code></a>可以让您通过多个 PostgreSQL 特性（包括 <a href="https://www.postgresql.org/docs/14/monitoring-stats.html#MONITORING-PG-STAT-ACTIVITY-VIEW"><code>pg_stat_activity</code></a>、<a href="https://www.postgresql.org/docs/14/sql-explain.html"><code>EXPLAIN VERBOSE</code></a>和其他功能）唯一跟踪某个查询。</p>

<h3 id="sql-">SQL 性能、一致性和便利性</h3>

<p>查询计划和执行在 PostgreSQL 14 中也有所改进。此版本包含对 PostgreSQL 并行查询支持的多项增强，包括更好的并行顺序扫描性能、<a href="https://www.postgresql.org/docs/14/plpgsql.html"><code>PL/pgSQL</code></a> 在使用 <code>RETURN QUERY</code> 命令时执行并行查询的能力，以及允许 <a href="https://www.postgresql.org/docs/14/sql-refreshmaterializedview.html"><code>REFRESH MATERIALIZED VIEW</code></a> 执行并行查询。此外，PostgreSQL 14 中新增的附加缓存也让使用嵌套循环连接的查询受益。</p>

<p><a href="https://www.postgresql.org/docs/14/planner-stats.html#PLANNER-STATS-EXTENDED">扩展统计信息</a>现在可在 PostgreSQL 14 中用于表达式。此外，<a href="https://www.postgresql.org/docs/14/functions-window.html">窗口函数</a>现在也可以从 PostgreSQL 13 中引入的增量排序中受益。</p>

<p><a href="https://www.postgresql.org/docs/14/sql-createprocedure.html">存储过程</a>允许在代码块中进行事务控制，现在可以使用 <code>OUT</code> 参数返回数据。</p>

<p>PostgreSQL 14 引入了使用 <a href="https://www.postgresql.org/docs/14/functions-datetime.html#FUNCTIONS-DATETIME-BIN"><code>date_bin</code></a> 函数按任意间隔对时间戳进行分组或对齐的能力。</p>

<p>此版本还添加了符合 SQL 标准的<a href="https://www.postgresql.org/docs/14/queries-with.html#QUERIES-WITH-SEARCH"><code>SEARCH</code></a>和<a href="https://www.postgresql.org/docs/14/queries-with.html#QUERIES-WITH-CYCLE"><code>CYCLE</code></a> 子句，以帮助递归<a href="https://www.postgresql.org/docs/14/queries-with.html#QUERIES-WITH-RECURSIVE">公用表表达式</a>的排序和循环检测。</p>

<h3 id="-">安全性改善</h3>

<p>PostgreSQL 14 可以方便地使用 <code>pg_read_all_data</code> 和 <code>pg_write_all_data</code> <a href="https://www.postgresql.org/docs/14/predefined-roles.html">预定义角色</a>，为用户授予表、视图和模式的只读与只写权限。</p>

<p>此外，此版本现在将符合标准的<a href="https://www.postgresql.org/docs/14/auth-password.html"><code>SCRAM-SHA-256</code></a>密码管理和身份验证系统作为 PostgreSQL 新实例的默认设置。</p>
<h3 id="-postgresql">关于 PostgreSQL</h3>

<p><a href="https://www.postgresql.org">PostgreSQL</a> 是世界上最先进的开源数据库，拥有由成千上万的用户、开发者、公司和组织组成的全球社区。PostgreSQL 起源于加州大学伯克利分校，已经有 30 多年的历史，并且始终保持着无与伦比的开发速度。PostgreSQL 的成熟功能集不仅能与顶级商业数据库系统相媲美，而且在高级数据库功能、可扩展性、安全性和稳定性方面更胜一筹。</p>

<h3 id="-">链接</h3>

<ul>
  <li><a href="https://www.postgresql.org/download/">下载</a></li>
  <li><a href="https://www.postgresql.org/docs/14/release-14.html">发行说明</a></li>
  <li><a href="https://www.postgresql.org/about/press/">新闻资料</a></li>
  <li><a href="https://www.postgresql.org/support/security/">安全</a></li>
  <li><a href="https://www.postgresql.org/support/versioning/">版本政策</a></li>
  <li><a href="https://twitter.com/postgresql">在 Twitter 上关注@postgresql</a></li>
</ul>
{% endblock presskit_content %}
