{%extends "base/page.html"%}
{%load pgfilters%}
{%block title%}贡献者档案{%endblock%}
{%block contents%}
<h1>PostgreSQL 贡献者档案 <i class="fa fa-users"></i></h1>

<p>正是这些杰出的人们成就了今天的 PostgreSQL！</p>

<p>
    如需查看特定版本的所有代码贡献列表，请参阅已发布 PostgreSQL 版本的<a href="/docs/release/">发布说明</a>。
</p>
<p>
    现有贡献者可以在其<a href="/account/profile/">用户档案</a>中更新个人信息。
</p>

{%for t in contributortypes%}
<h2>{{t.typename}}</h2>
{%if t.extrainfo%}<p>{{t.extrainfo|safe}}</p>{%endif%}

<table class="table table-striped contributor-table">
  <thead>
    {%if t.detailed%}
    <tr>
     <th scope="col">贡献者</th>
     <th scope="col">贡献</th>
    </tr>
    {%endif%}
  </thead>
  <tbody>
    {%for c in t.contributor_set.all %}
     {%if t.detailed%}
      <tr>
       <td>{{c.firstname}} {{c.lastname}} {%if t.showemail and c.email%}({{c.email|hidemail}}){%endif%}
          {%if c.company %}
          <br/>
            {% if c.companyurl %}
              <a href="{{c.companyurl}}" target="_blank" rel="noopener">{{c.company}}</a>
            {% else %}
              {{c.company}}
            {% endif %}
          {% endif %}
          <br/>
          {{c.location}}
        </td>
        <td>{{c.contribution}}</td>
       </tr>
     {%else%}
      {%if forloop.counter0|divisibleby:"2" %}
       <tr>
        <td>{{c.firstname}} {{c.lastname}}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
        {%if forloop.last%}
        <td></td>
       </tr>
        {%endif%}
      {%else%}
        <td>{{c.firstname}} {{c.lastname}}{%if t.showemail and c.email%} ({{c.email|hidemail}}){%endif%}</td>
       </tr>
      {%endif%}
     {%endif%}
    {%endfor%}
  </tbody>
</table>
{%endfor%}

<p>所有贡献者按字母顺序排列。
  如需建议添加或更正此列表，请发送邮件至
  <a href="/about/governance/contributors/">贡献者委员会</a>
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>。
    有关成为认可贡献者的更多信息，请参阅<a href="/about/policies/contributors/">认可贡献者政策</a>。
</p>

{%endblock%}
