{%extends "base/page.html"%}
{%block title%}BSD 安装包{%endblock%}
{%block contents%}

<h1>BSD 发行版 <img class="logo" src="/media/img/bsd.png" alt="BSD Logo" /></h1>

<p>
选择您的 BSD 发行版：
</p>

<a role="button" class="btn btn-outline-dark btn-download" href="/download/openbsd/">OpenBSD<br/><img class="logo" src="/media/img/openbsd.gif" alt="OpenBSD Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/freebsd/">FreeBSD<br/><img class="logo" src="/media/img/freebsd.svg" alt="FreeBSD Logo" /></a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/netbsd/">NetBSD<br/><img class="logo" src="/media/img/netbsd.svg" alt="NetBSD Logo" /></a>

{%endblock%}
