{%extends "base/page.html"%}
{%block title%}FreeBSD 安装包{%endblock%}
{%block contents%}

<h1>FreeBSD 安装包 <img class="logo" src="/media/img/freebsd.svg" alt="FreeBSD Logo" /></h1>

<h2>FreeBSD Ports</h2>

<p>PostgreSQL 安装包可通过 <a href="https://ports.freebsd.org/" target="_blank" rel="noopener">FreeBSD
    Ports and Packages Collection</a> 获取。请参阅 <a href="https://docs.freebsd.org/en/books/handbook/ports/">Ports 文档</a>了解如何安装 Ports。</p>

<p>可以在 FreeBSD 网站上使用 Ports 搜索工具找到 <a href="https://www.freebsd.org/cgi/ports.cgi?query=postgresql&stype=name&sektion=databases" target="_blank" rel="noopener">PostgreSQL
	安装包</a>列表。</p>

{%endblock%}
