{%extends "base/page.html"%}
{%block title%}NetBSD 安装包{%endblock%}
{%block contents%}

<h1>NetBSD 安装包 <img class="logo" src="/media/img/netbsd.svg" alt="NetBSD Logo" /></h1>

<h2>NetBSD Packages Collection</h2>

<p>
  PostgreSQL 安装包可通过
  <a href="http://www.netbsd.org/docs/software/packages.html" target="_blank" rel="noopener">NetBSD Packages Collection (pkgsrc)</a> 获取。
  请参阅 pkgsrc 文档了解如何安装软件包。
</p>

<p>
  可以在 NetBSD 网站上找到
  <a href="https://ftp.netbsd.org/pub/pkgsrc/current/pkgsrc/databases/README.html" target="_blank" rel="noopener">PostgreSQL 安装包</a>列表。
</p>
{%endblock%}
