{%load pgseo%}{%seo_values as page_meta%}<!doctype html>
<html lang="{{seo.lang|default:'zh'}}">
 <head>
  <title>{%block fulltitle%}{%if page_meta.title%}{{page_meta.title}}{%else%}PostgreSQL {%block title%}{%endblock%}{%endif%}{%endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  {%block meta%}{%endblock%}
  {%block metadescription%}{%if page_meta.description%}
  <meta name="description" content="{{page_meta.description|truncatechars:'180'}}" />{%endif%}{%endblock%}
  {%block canonical%}{%if page_meta.canonical%}
  <link rel="canonical" href="{{link_root}}{{page_meta.canonical}}" />{%endif%}{%endblock%}
{%for language, path in seo.alternates.items%}
  <link rel="alternate" hreflang="{{language}}" href="{{link_root}}{{path}}" />{%endfor%}
  <meta name="theme-color" content="#336791"/>
  <meta name="copyright" content="The PostgreSQL Global Development Group" />{%if seo or og%}
  <meta property="og:url" content="{{link_root}}{{page_meta.canonical}}" />
  <meta property="og:type" content="{{og.type|default:"article"}}" />
{%if og.author%}  <meta property="article:author" content="{{og.author}}" />{%endif%}
{%if og.time%}  <meta property="article:published_time" content="{{og.time|date:"c"}}" />{%endif%}
{%if og.modified_time%}  <meta property="article:modified_time" content="{{og.modified_time|date:"c"}}" />{%endif%}
{%if not og.noimage%}  <meta property="og:image" content="{{link_root}}/media/img/about/press/elephant.png" />{%endif%}
  <meta property="og:title" content="{{page_meta.title}}" />
{%if page_meta.description%}  <meta property="og:description" content="{{page_meta.description|truncatechars:'220'}}" />
  <meta name="twitter:description" content="{{page_meta.description|truncatechars:'180'}}" />{%endif%}
  <meta property="og:site_name" content="{{og.sitename|default:"PostgreSQL 中文社区"}}" />{%endif%}
  <link href="/media/css/fontawesome.css?{{gitrev}}" rel="stylesheet">
  <link rel="stylesheet" href="/media/css/bootstrap-4.4.1.min.css">
  <link rel="icon" type="image/x-icon" href="/media/favicon.ico?{{gitrev}}" />
  <link rel="shortcut icon" href="/media/favicon.ico?{{gitrev}}" />
  {%if newstags %}
  {%comment%}Default RSS links are only shown on pages that have newstags set{%endcomment%}
  <link rel="alternate" type="application/rss+xml" title="所有 PostgreSQL 新闻" href="/news.rss" />
  {%for t in newstags%}
    <link rel="alternate" type="application/rss+xml" title="PostgreSQL {{t.name}} 新闻" href="/news/{{t.urlname}}.rss" />
  {%endfor%}
  <link rel="alternate" type="application/rss+xml" title="PostgreSQL 活动" href="/events.rss" />
  {%endif%}
  <link rel="stylesheet" type="text/css" href="/dyncss/base.css?{{gitrev}}">

  <script src="/media/js/theme.js?{{gitrev}}"></script>
  <script src="/media/js/analytics.js?{{gitrev}}"></script>

  {%block extrahead%}{%endblock%}
  </head>
  <body>
    {% include "search/icons.html" %}
    {% include "base/header.html" %}
    {% include "search/palette.html" %}
    {% block shout %}{% endblock %}
    {%block layoutblock%}{%endblock%}
    {% include "base/footer.html" %}
    <script src="/media/js/main.js?{{gitrev}}"></script>
    <script type="module" src="/media/js/code.js?{{gitrev}}"></script>
    <script type="module" src="/media/js/palette.js?{{gitrev}}"></script>
{%block extrascript%}{%endblock%}
  </body>
</html>
