{%load pgfilters%}
<form class="form-horizontal" method="post" action=".">{%if not nocsrf%}{% csrf_token %}{%endif%}
  {%if form.errors %}
    <div class="alert alert-danger">
      请修正以下错误，然后重新提交表单。
    </div>
  {%endif%}
{%for e in form.non_field_errors %}
    <div class="alert alert-danger">{{e}}</div>
{%endfor%}
{%if form.fieldsets%}
{%for fieldset in form.fieldsets%}
<fieldset id="{{fieldset.id}}" class="form-group">
  <legend>{{fieldset.legend}}</legend>
{%if fieldset.description%}<p>{{fieldset.description}}</p>{%endif%}
{%for field in fieldset.fields%}
  {%include "base/form_field.html" with field=form|keylookup:field %}
{%endfor%}
</fieldset>
{%endfor%}
{%else%}
  {% for field in form %}
{%include "base/form_field.html" %}
  {%endfor%}
{%endif%}
  <button type="submit" class="btn btn-primary">{{savebutton|default:"保存"}}</button>
{%if deletebutton%}
  <button type="submit" name="delete" value="delete" class="btn btn-secondary" data-confirm="您确定要永久删除此草稿吗？">{{deletebutton}}</button>
{%endif%}
</form>
