{% include "base/navitem.html" with title="首页" link="/" key="home" items="" %}
{% include "base/navitem.html" with title="关于" link="/about/" key="about" items=sitenav.about %}
{% include "base/navitem.html" with title="下载" link="/download/" key="download" items=sitenav.download %}
{% include "base/navitem.html" with title="文档" link="/docs/" key="docs" items=sitenav.docs %}
{% include "base/navitem.html" with title="社区" link="/community/" key="community" items=sitenav.community %}
{% include "base/navitem.html" with title="开发者" link="/developer/" key="developer" items=sitenav.developer %}
{% include "base/navitem.html" with title="支持" link="/support/" key="support" items=sitenav.support %}
{% include "base/navitem.html" with title="博览" link="/info/" key="info" items=sitenav.info %}
