{%extends "base/page.html"%}
{%block title%}开发者{%endblock%}
{%block contents%}
<h1>开发者 <i class="fa fa-code"></i></h1>

<h2>我们是谁？</h2>

<p>PostgreSQL 数据库开发者是直接参与项目开发的人，而不是使用 PostgreSQL 构建应用或网站的人。我们并不雇佣程序员，而是通过互联网汇聚全球最优秀的数据库开发者，共同推进 PostgreSQL 项目。您可以了解 <a href="/community/contributors/">PostgreSQL 背后的人</a>，并查看 2006 年 PostgreSQL 周年峰会的<a href="/files/community/conference06/conference_group.html">合影</a>。
</p>

<h2>这里有什么？</h2>

<p>本栏目主要面向 PostgreSQL 开发者。在这里，您可以找到<a href="/developer/roadmap/">路线图</a>及当前的 <a href="https://wiki.postgresql.org/wiki/Todo">TODO 列表</a>、<a href="/developer/coding/">编码</a>和<a href="/developer/testing/">测试</a>信息、<a href="https://commitfest.postgresql.org">CommitFests</a>、<a href="https://www.postgresql.org/list/">邮件列表</a>以及开发者 <a href="https://wiki.postgresql.org/wiki/Developer_FAQ">FAQ</a>。请注意，这里提供的信息不一定已经进入 PostgreSQL 的正式发行版，甚至可能尚未进入开发版本。
</p>

<h2>如何参与</h2>
<p>
  以下是一些帮助您参与 PostgreSQL 开发的资源：
</p>
<ul>
  <li>阅读<a href="https://wiki.postgresql.org/wiki/Developer_FAQ#How_do_I_get_involved_in_PostgreSQL_development.3F">开发者 FAQ</a>。</li>
  <li>浏览 <a href="https://www.postgresql.org/list/pgsql-hackers/">pgsql-hackers 归档</a> 中的相关话题，也可以选择<a href="https://lists.postgresql.org/">订阅</a>该邮件列表。</li>
  <li>加入 <a rel="nofollow" href="https://discord.gg/bx2G9KWyrY">PostgreSQL Hacking Discord</a>。</li>
</ul>

<h2>什么是 CommitFest？</h2>

<p><a href="https://commitfest.postgresql.org">CommitFest</a> 是 PostgreSQL 特性开发流程中的一个阶段。在此期间，<a href="https://wiki.postgresql.org/wiki/Committers">提交者</a>和<a href="/community/contributors/">贡献者</a>会集中进行<a href="https://wiki.postgresql.org/wiki/Reviewing_a_Patch">审查</a>、<a href="/developer/testing/">测试</a>以及补丁提交。补丁会登记在 <a href="https://commitfest.postgresql.org">CommitFest 应用</a> 中，供 PostgreSQL 开发者跟踪状态。</p>

<p>在一个大版本发布周期中，通常会安排 5 个 CommitFest：七月、九月、十一月、一月和三月。三月的 CommitFest 是该发布周期中的最后一个，随后项目将进入“特性冻结”阶段，并开始 <a href="/developer/beta/">Beta</a> 测试期。“<a href="https://wiki.postgresql.org/wiki/CommitFest_Checklist">CommitFest 管理者</a>”负责维护 CommitFest 流程，并承担补丁列表的管理职责。</p>

<p>任何人都可以参与 CommitFest，这也是开始为 PostgreSQL 做贡献的极佳方式。您可以提交补丁并纳入 CommitFest，报名审查补丁，或者成为 CommitFest 管理者（不过该角色通常需要一定的社区经验）。</p>

<h2>Google 编程之夏</h2>

<p>PostgreSQL 项目长期参与 Google 编程之夏计划。如果您有兴趣参与 PostgreSQL 相关项目，请查看我们的 <a href="https://wiki.postgresql.org/wiki/GSoC">Summer of Code</a> 页面。</p>

{%endblock%}
