{%extends "base/page.html"%}
{%block title%}下载{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/download.js?{{gitrev}}"></script>
{%endblock%}
{%block contents%}

<h1>下载 <i class="fa fa-download"></i></h1>

<h2>PostgreSQL 下载</h2>

<p>
PostgreSQL 提供各平台的即用安装包或安装程序，以及源代码归档，供您自行构建。
</p>

<h3>安装包与安装程序</h3>

<p>选择您的操作系统：</p>

<a role="button" id="btn-download-linux" class="btn btn-outline-dark btn-download" href="/download/linux/">
  Linux<br/>
  <img class="logo" src="/media/img/linux.svg" alt="Linux Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/macosx/">
  macOS<br/>
  <img class="logo" src="/media/img/apple.png" alt="Apple Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/windows/">
  Windows<br/>
  <img class="logo" src="/media/img/windows.svg" alt="Windows Logo" />
</a>
<a role="button" id="btn-download-bsd" class="btn btn-outline-dark btn-download" href="/download/bsd/">
  BSD<br/>
  <img class="logo" src="/media/img/bsd.png" alt="BSD Logo" />
</a>
<a role="button" class="btn btn-outline-dark btn-download" href="/download/solaris/">
  Solaris<br/>
  <img class="logo" src="/media/img/solaris.png" alt="Solaris Logo" />
</a>

<!-- sub-navigation for Linux distributions -->
<div id="download-subnav-linux" class="download-subnav">
  <p>选择您的 Linux 发行版：</p>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/debian/">
    Debian<br/>
    <img class="logo" src="/media/img/debian.svg" alt="Debian Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/redhat">
    Red Hat/Rocky/AlmaLinux<br/>
    <img class="logo" src="/media/img/redhat.svg" alt="Red Hat Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/suse">
    SUSE<br/>
    <img class="logo" src="/media/img/suse.png" alt="SUSE Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/ubuntu">
    Ubuntu<br/>
    <img class="logo" src="/media/img/ubuntu.svg" alt="Ubuntu Logo" />
  </a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/linux/#generic">
    其他 Linux<br/>
    <img class="logo" src="/media/img/linux.svg" alt="Linux Logo" />
  </a>
</div>

<!-- sub-navigation for BSD distributions -->
<div id="download-subnav-bsd" class="download-subnav">
  <p>选择您的 BSD 操作系统：</p>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/openbsd/">OpenBSD<br/><img class="logo" src="/media/img/openbsd.gif" alt="OpenBSD Logo" /></a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/freebsd/">FreeBSD<br/><img class="logo" src="/media/img/freebsd.svg" alt="FreeBSD Logo" /></a>
  <a role="button" class="btn btn-outline-dark btn-download" href="/download/netbsd/">NetBSD<br/><img class="logo" src="/media/img/netbsd.svg" alt="NetBSD Logo" /></a>
</div>

<h3>源代码</h3>

<p>
源代码可以在主<a href="https://www.postgresql.org/ftp/source/">文件浏览器</a>中找到，您也可以直接访问源代码仓库
<a href="https://git.postgresql.org/gitweb/?p=postgresql.git;a=summary" target="_blank" rel="noopener">git.postgresql.org</a>。
从源代码构建的说明可以在<a href="/docs/current/installation.html">文档</a>中找到。
</p>

<h3>Beta/RC 版本及开发快照（不稳定）</h3>

<p>
这里提供 Beta 和候选发布版本以及当前开发代码的源代码和二进制<a href="/download/snapshots/">安装包</a>，可用于测试和评估新功能。请注意，这些构建<strong>仅用于测试目的</strong>，不应用于生产系统。
</p>

<h2>第三方发行版</h2>

<h3>开箱即用的技术栈</h3>
    <p>
'LAPP'、'MAPP' 和 'WAPP'（Linux/Mac/Windows + Apache + PHP + PostgreSQL）技术栈可从
<a href="https://bitnami.com/tag/postgresql">BitNami</a> 获取。
</p>
<p>
    'PIGSTY'（开箱即用的企业级 PG 发行版）可以从 <a href="https://pigsty.io">Pigsty</a> 处获取。
</p>

<h2>额外软件</h2>

<h3>软件目录</h3>

<p>有许多未与 PostgreSQL 捆绑的软件可供使用。<a href="/download/product-categories">软件目录</a>提供了许多商业和开源应用程序、接口以及 PostgreSQL 扩展的列表，您可能会觉得有用。</p>

<p>如果您希望将您的产品列入目录，请填写此<a href="/account/products/new/">表单</a>。</p>

<h2>文件浏览器</h2>
<p>您可以通过我们的<a href="https://www.postgresql.org/ftp/">文件浏览器</a>从镜像站点下载我们发布的大部分软件。</p>

{%endblock%}
