{%extends "base/page.html"%}
{%block title%}支持{%endblock%}
{%block contents%}

<h1>支持 <i class="fa fa-question-circle"></i></h1>

<p>PostgreSQL 为用户提供了丰富的社区与商业支持选项，包括：</p>
  <ul>
    <li><a href="/docs/">文档</a></li>
    <li><a href="/community/">社区</a>板块，详细介绍了 PostgreSQL 社区为用户提供的支持选项</li>
    <li><a href="https://www.postgresql.org/list/">邮件列表</a></li>
    <li><a href="/community/irc/">IRC</a></li>
<!--    <li><a href="https://join.slack.com/t/postgresteam/shared_invite/zt-1qj14i9sj-E9WqIFlvcOiHsEk2yFEMjA" target="_blank" rel="noopener">Slack</a></li> -->
  </ul>

<p>众多公司为 PostgreSQL 社区提供<a href="/support/professional_support/">专业服务</a>，您也可以从中获取<a href="/support/professional_support/">商业支持</a>。此外，还提供了一份<a href="/support/professional_hosting/">PostgreSQL 专用托管</a>公司的列表。</p>

<h2>第三方资源</h2>

<p>还有一些网站和其他资源可能也非常有用，下面列出了其中的一部分。</p>

<p><b>请注意，以下资源并非由 PostgreSQL 项目运营，PostgreSQL 行为准则可能不适用。</b></p>

<ul>
  <li><a href="https://stackoverflow.com/questions/tagged/postgresql">Stack Overflow</a></li>
  <li><a href="https://www.facebook.com/groups/postgres/">Facebook</a></li>
</ul>

<p>如需建议将某项资源添加到此处，请发送邮件至 <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>。</p>

<h2>Bug 报告</h2>

<p>在 PostgreSQL 中发现了 Bug？请先阅读我们的 <a href="/docs/current/bug-reporting.html">Bug 报告指南</a>，然后使用 <a href="/account/submitbug/">Bug 报告表单</a>进行提交。</p>

<p>您可以在 <a href="https://www.postgresql.org/list/pgsql-bugs/">pgsql-bugs@lists.postgresql.org</a> 邮件列表中查看以往的 Bug 报告并跟踪您提交的 Bug。</p>

<h2>安全漏洞报告</h2>

<p>如果您认为发现了安全问题，请参阅<a href="/support/security/">安全页面</a>以了解如何报告。</p>

{%endblock%}
