{%extends "base/page.html"%}
{%block title%}Linux 下载（Debian）{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/media/js/download.js?{{gitrev}}"></script>
{%endblock%}
{%block contents%}

<h1>Linux 下载（Debian） <img class="logo" src="/media/img/debian.svg" alt="Debian Logo" /></h1>
<p>
所有 Debian 版本默认都包含 PostgreSQL。但是，Debian 会“快照”一个特定版本的 PostgreSQL，该版本在 Debian 版本的整个生命周期内受到支持。PostgreSQL 项目维护了一个 <a href="#apt">Apt 仓库</a>，提供所有受支持的 PostgreSQL 版本。
</p>

<h2>发行版自带</h2>
<p>
Debian 默认包含 PostgreSQL。要在 Debian 上安装 PostgreSQL，请使用 <code>apt</code>（或其他 apt 驱动的）命令：
</p>
<pre class="code">
apt install postgresql
</pre>

<a name="apt"></a>
<h2>PostgreSQL Apt Repository</h2>
<p>
如果您的 Debian 版本中包含的 PostgreSQL 版本不是您想要的，可以使用 <a href="https://apt.postgresql.org" target="_blank" rel="noopener">PostgreSQL Apt Repository</a>。该仓库将与您的常规系统和补丁管理集成，并在 PostgreSQL 的<a href="/support/versioning/">支持生命周期</a>内为所有受支持的 PostgreSQL 版本提供自动更新。
</p>
<p>
PostgreSQL Apt Repository 支持以下 Debian 版本：
</p>
<ul>
  <li>trixie (13.x)</li>
  <li>bookworm (12.x)</li>
  <li>bullseye (11.x)</li>
  <li>forky (testing)</li>
  <li>sid (unstable)</li>
</ul>
<p>
支持以下架构：
</p>
<ul>
  <li>amd64</li>
  <li>arm64</li>
  <li>ppc64el</li>
</ul>

<p>
自动仓库配置：
</p>

<div class="pg-script-container">
    <pre id="script-box" class="code">sudo apt install -y postgresql-common
sudo /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh</pre>
    <button id="copy-btn-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

<p>
要手动配置 Apt 仓库，请按以下步骤操作：
</p>

<div class="pg-script-container">
    <pre id="script-box2" class="code"># Import the repository signing key:
sudo apt install curl ca-certificates
sudo install -d /usr/share/postgresql-common/pgdg
sudo curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc

# Create the repository configuration file:
. /etc/os-release
sudo sh -c "echo 'deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $VERSION_CODENAME-pgdg main' > /etc/apt/sources.list.d/pgdg.list"

# Update the package lists:
sudo apt update</pre>
    <button id="copy-btn2-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn2" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

安装 PostgreSQL：（将 "18" 替换为您想要的版本）

<div class="pg-script-container">
    <pre id="script-box3" class="code">sudo apt install postgresql-18</pre>
    <button id="copy-btn3-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
    <button id="copy-btn3" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
</div>

<p>
有关 Apt 仓库的更多信息（包括常见问题的解答），请参阅
<a href="https://wiki.postgresql.org/wiki/Apt" target="_blank" rel="noopener">PostgreSQL Apt Repository Wiki 页面</a>。
</p>

<h2>软件包</h2>
<p>
该仓库包含许多不同的软件包，包括第三方扩展。最常用和最重要的软件包如下（请根据需要替换版本号）：
</p>
<table class="table table-striped">
  <tbody>
    <tr>
     <th scope="row">postgresql-client-18</th>
     <td>客户端库和客户端程序</td>
    </tr>
    <tr>
     <th scope="row">postgresql-18</th>
     <td>核心数据库服务器</td>
    </tr>
    <tr>
     <th scope="row">postgresql-doc-18</th>
     <td>文档</td>
    </tr>
    <tr>
     <th scope="row">libpq-dev</th>
     <td>C 语言前端开发库和头文件</td>
    </tr>
    <tr>
     <th scope="row">postgresql-server-dev-18</th>
     <td>C 语言后端开发库和头文件</td>
    </tr>
  </tbody>
</table>
{%endblock%}
