{%extends "base/page.html"%}
{%block title%}Linux 下载（Red Hat 系列）{%endblock%}
{%block extrahead%}
<script type="text/javascript" src="/download/js/yum.js?{{gitrev}}"></script>
{%endblock%}
{%block contents%}

<h1>Linux 下载（Red Hat 系列） <img class="logo" src="/media/img/redhat.svg" alt="Red Hat Logo" /></h1>
<p>
Red Hat 系列发行版包括：
</p>
<p>
  <ul>
    <li>Red Hat Enterprise Linux</li>
    <li>Rocky Linux</li>
    <li>AlmaLinux</li>
    <li>Fedora</li>
  </ul>
</p>
<p>以及其他。</p>
<p>
这些平台默认提供 PostgreSQL。但是，每个版本的平台通常会“快照”一个特定版本的
PostgreSQL，并在该平台的整个生命周期内提供支持。
由于这通常意味着提供的版本并非用户所需，PostgreSQL
项目为最常见的发行版提供了一个包含所有受支持版本的<a href="#yum">软件包仓库</a>。
</p>

<a name="yum"></a>
<h2>PostgreSQL Yum Repository</h2>
<p>
<a href="https://yum.postgresql.org" target="_blank" rel="noopener">PostgreSQL Yum Repository</a> 将与您的常规系统和补丁管理集成，并在 PostgreSQL 的整个支持
<a href="/support/versioning/">生命周期</a>内为所有受支持的 PostgreSQL 版本提供自动更新。
</p>
<p>
PostgreSQL Yum Repository 目前支持：
</p>
<p>
  <ul>
    <li>Red Hat Enterprise Linux</li>
    <li>Rocky Linux</li>
    <li>AlmaLinux</li>
    <li>Fedora<sup>*</sup></li>
  </ul>
</p>
<p><strong><sup>*</sup>注意</strong>：由于 Fedora 的支持周期较短，并非所有受支持的 PostgreSQL 版本都一定能在该平台上使用。我们不建议将 Fedora 用于服务器部署。
</p>
<p>
PostgreSQL Yum Repository 最近开始<a href="https://yum.postgresql.org/news/postgresql-rpms-multiple-rhel-minor-versions/" target="blank">支持
RHEL 及其衍生发行版的最近两个小版本</a>，例如 RHEL 10.0
和 10.1。
</p>
<p>
要使用 PostgreSQL Yum Repository，请按以下步骤操作：
</p>
<ol>
  <li>选择平台：<select id="platform" class="custom-select"></select></li>
  <li>选择架构：<select id="arch" class="custom-select"></select></li>
  <li>选择版本：<select id="version" class="custom-select"></select><br/></li>
  <li>复制、粘贴并运行安装脚本的相关部分：
    <div class="pg-script-container">
        <pre id="script-box" class="code"></pre>
        <button id="copy-btn-root" class="pg-script-copy-btn pg-script-copy-btn-root" title="Copy to clipboard (without sudo, for root)"><i class="fas fa-terminal"></i></button>
        <button id="copy-btn" class="pg-script-copy-btn" title="Copy to clipboard"><i class="far fa-copy"></i></button>
    </div>
  </li>
</ol>

<h2>发行版自带</h2>
<p>
这些发行版默认都包含 PostgreSQL。要从这些仓库安装
PostgreSQL，请在 RHEL 和 Fedora 上使用 <var>dnf</var> 命令：
</p>
<p>
<code>
dnf install postgresql-server
</code>
</p>
<p>
您获得的 PostgreSQL 版本取决于发行版的版本：
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>发行版</th>
      <th>版本</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <th scope="row">RHEL / Rocky Linux / AlmaLinux 10</th>
     <td>16</td>
    </tr>
    <tr>
     <th scope="row">RHEL / Rocky Linux / AlmaLinux 9</th>
     <td>16, 15 and 13 (via modules)</td>
    </tr>
    <tr>
     <th scope="row">RHEL / Rocky Linux / AlmaLinux / OL 8</th>
     <td>15, 13, 12, 10 and 9.6 via modules</td>
    </tr>
    <tr>
     <th scope="row">Fedora 44</th>
     <td>18</td>
    </tr>
    <tr>
     <th scope="row">Fedora 43</th>
     <td>18</td>
    </tr>
  </tbody>
</table>
<p>
其他 Red Hat 系列发行版可能默认提供不同版本的
PostgreSQL，请向您的发行版供应商确认。
</p>

<p>
该仓库包含许多不同的软件包，包括第三方扩展。最常见和最重要的软件包如下（请根据需要替换版本号）：
</p>
<table class="table table-striped">
  <tbody>
    <tr>
     <th scope="row">postgresql-client</th>
     <td>客户端库和客户端程序</td>
    </tr>
    <tr>
     <th scope="row">postgresql-server</th>
     <td>核心数据库服务器</td>
    </tr>
    <tr>
     <th scope="row">postgresql-contrib</th>
     <td>额外提供的模块</td>
    </tr>
    <tr>
     <th scope="row">postgresql-devel</th>
     <td>C 语言开发库和头文件</td>
    </tr>
  </tbody>
</table>

<h3>安装后配置</h3>
<p>
由于 Red Hat 系列发行版的策略，PostgreSQL 安装后不会自动启用开机启动，数据库也不会自动初始化。要完成数据库安装，您需要根据您的发行版执行以下步骤：
<h4>适用于 RHEL / Rocky Linux / AlmaLinux 10、9、8 或 Fedora 43 及更高版本的衍生发行版：</h4>
<pre class="code">
  postgresql-setup --initdb
  systemctl enable postgresql.service
  systemctl start postgresql.service
</pre>
</p>

<h2>直接下载 RPM</h2>
<p>
如果您无法或不想使用基于 yum 的安装方式，yum 仓库中的所有 RPM 包也可以
<a href="https://yum.postgresql.org/rpmchart/">直接下载</a>
并手动安装。
</p>

<h2>PostgreSQL Yum 仓库中国镜像</h2>
<br>
    如果您位于中国大陆，可以考虑使用 <a href="https://mirrors.aliyun.com/postgresql/repos/yum/" target="_blank" rel="noopener">阿里云 PostgreSQL Yum 镜像</a>。</br>
您也可以使用 <a href="https://pigsty.cc/docs/pig" target="_blank" rel="noopener">pig</a> 命令行工具来添加 PGDG Yum 仓库，它会自动根据所在区域选择合适的镜像。
</p>
<pre class="code">curl https://repo.pigsty.cc/pig | bash
pig repo add pgdg</pre>
{%endblock%}
