{%extends "base/page.html"%}
{%block title%}社区{%endblock%}
{%block contents%}
  <div class="row">
    <div class="col-md-8">
      <h1>社区 <i class="fa fa-users"></i></h1>
      <p>
        PostgreSQL 拥有一个活跃且强大的社区支持。社区提供了十余个<a href="https://lists.postgresql.org/">邮件列表</a>，涵盖以下主题：
      </p>
        <ul>
          <li><a href="https://www.postgresql.org/list/pgsql-announce/">公告</a></li>
          <li><a href="https://www.postgresql.org/list/pgsql-hackers/">PostgreSQL 开发</a></li>
          <li><a href="https://www.postgresql.org/list/pgsql-general/">PostgreSQL 通用支持</a></li>
          <li><a href="https://www.postgresql.org/list/pgsql-jobs/">职位</a></li>
        </ul>
      <p>
        以及更多。我们在世界各地还拥有许多本地 <a href="/community/user-groups/">PostgreSQL 用户组</a>，同时也有活跃的 <a href="/community/irc/">IRC</a><!--&amp; <a href="https://join.slack.com/t/postgresteam/shared_invite/zt-1qj14i9sj-E9WqIFlvcOiHsEk2yFEMjA" target="_blank" rel="noopener">Slack</a>--> 社区。
      </p>
      <p>
        这里还提供了包含多种语言 PostgreSQL 信息的<a href="/community/international/">国际化站点</a>链接。
      </p>
      <p>PostgreSQL 社区成员还积极贡献于：</p>
      <ul>
        <li><a href="https://planet.postgresql.org/" target="_blank" rel="noopener">Planet PostgreSQL</a>，一个涵盖 PostgreSQL 众多话题的博客聚合平台</li>
        <li><a href="https://wiki.postgresql.org" target="_blank" rel="noopener">PostgreSQL Wiki</a>，我们的维基站点，托管用户生成的内容以及如何为 PostgreSQL 贡献代码的相关信息</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Planet PostgreSQL</h2>
      <table class="table table-striped">
        <tbody>
          {% for post in planet %}
          <tr>
            <td scope="row"><a href="{{ post.url }}">{{ post.title }}</a></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
     <a href="https://planet.postgresql.org"><button type="button" class="btn btn-primary">更多</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h2>外部资源</h2>
      <ul>
        <li><a href="https://www.pg-forum.de/" target="_blank" rel="noopener">pg-forum.de</a>，一个德语 PostgreSQL 论坛。</li>
      </ul>
      <p>
        请将相关链接发送至
        <a href="mailto:pgsql-www@lists.postgresql.org">pgsql-www@lists.postgresql.org</a>
        以便考虑收录到本页面。请注意，
        <a href="mailto:pgsql-www@lists.postgresql.org">pgsql-www@lists.postgresql.org</a>
        是一个公开存档的邮件列表。
      </p>
    </div>
    {% comment %}
    <div class="col-md-4">
      <h2>调查</h2>
      {% if survey %}
        <h3>{{survey.question}}</h3>
        <form method="post" action="/community/survey/vote/{{survey.id}}/"><!-- CSRF exempt -->
          <fieldset class="form-group">
            {%for q in survey.questions%}
              <div class="form-check">
                <input id="surv_opt_{{q.value}}" class="form-check-input" type="radio" name="answer" value="{{ q.value }}" />
                <label class="form-check-label" for="surv_opt_{{q.value}}">{{q.text}}</label>
              </div>
            {%endfor%}
          </fieldset>
          <div class="form-row">
            <input class="btn btn-primary" type="submit" name="submit" value="投票！" />
          </div>
          <div class="form-row">
            <a href="/community/survey/{{survey.id}}-{{survey|slugify}}/"><button type="button" class="btn btn-primary">查看结果</button></a>
          </div>
        </form>
      {% endif %}
    </div>
    {% endcomment %}
  </div>
{%endblock%}
