{%extends "base/page.html"%}
{%block title%}版本策略{%endblock%}
{%block contents%}

<h1>版本策略 <i class="fas fa-code-branch"></i></h1>

<p>
PostgreSQL 全球开发组大约每年发布一个包含新功能的主要版本。每个主要版本都会收到
Bug 修复，以及在必要时进行的<a href="/support/security/">安全</a>修复，这些修复至少
每三个月发布一次，我们称之为“小版本更新”。有关小版本更新计划的更多信息，请查看
<a href="/developer/roadmap/">小版本更新路线图</a>。
<p>

<p>
如果发布团队认为某个关键 Bug 或安全修复过于重要，不能等到定期的小版本更新，
则可能会在小版本更新路线图之外发布一个版本。
</p>

<p>
PostgreSQL 全球开发组在主要版本首次发布后提供 5 年的支持。此后，将发布最终的
小版本更新，该软件随即不再受支持（生命周期终止）。
</p>

<h2>版本编号</h2>

<p>
从 PostgreSQL 10 开始，主要版本通过递增版本号的第一部分来表示，例如从 10 到 11。
在 PostgreSQL 10 之前，主要版本通过递增版本号的第一部分或第二部分来表示，
例如从 9.5 到 9.6。
</p>

<p>
小版本更新通过递增版本号的最后一部分来编号。从 PostgreSQL 10 开始，这是版本号的
第二部分，例如从 10.0 到 10.1；对于更早的版本，这是版本号的第三部分，
例如从 9.5.3 到 9.5.4。
</p>

<h2>升级</h2>

<p>
主要版本包含复杂的变更，因此数据目录的内容无法以向后兼容的方式维护。主要版本升级
需要对数据库进行转储/重载，或使用
<a href="/docs/current/pgupgrade.html">pg_upgrade</a> 应用程序。我们还建议阅读
您计划升级到的主要版本的<a href="/docs/current/upgrading.html">升级</a>章节。
您可以从一个主要版本直接升级到另一个主要版本，而无需逐一升级中间版本，
但我们建议在升级之前阅读所有中间主要版本的<a href="/docs/release/">发布说明</a>。
</p>

<p>
  小版本更新升级不需要转储和恢复；您只需停止数据库服务器，安装更新的二进制文件，
  然后重新启动服务器即可。此类升级可能需要额外的步骤，因此请务必先阅读发布说明。
</p>

<p>
  小版本更新仅包含对常见 Bug 的修复、低风险修复、<a href="/support/security/">安全</a>
  问题修复以及数据损坏问题的修复。<em>社区认为执行小版本更新升级比继续运行旧的
  小版本风险更低。</em>
</p>

<p>
  <strong>
    我们建议用户始终运行与其主要版本对应的最新小版本更新。
  </strong>
</p>

<h2>版本发布</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>版本</th>
      <th>当前小版本</th>
      <th>受支持</th>
      <th>首次发布</th>
      <th>最终发布</th>
    </tr>
  </thead>
  <tbody>
    {%for v in versions%}
      <tr>
       <td>{{v.numtree}}</td>
       <td>{{v.numtree}}.{{v.latestminor}}</td>
       <td>{{v.supported|yesno:"是,否"}}</td>
       <td>{{v.firstreldate|date:"Y-m-d"}}</td>
       <td>{{v.eoldate|date:"Y-m-d"}}</td>
      </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
