{%extends "base/page.html"%}
{%block title%}Markdown 提交{%endblock%}
{%block contents%}
<h1>Markdown 提交</h1>

<p>
 postgresql.org 网站上的部分表单允许您以 <em>markdown</em> 格式提交文本。这是一种简单的标记格式，可以让您进行基本的内联排版。
</p>

<p>
 您可以在 <a href="https://www.markdownguide.org/">markdownguide.org</a> 上找到 markdown 的基本介绍。
</p>

<p>
 本站支持 <a href="https://www.markdownguide.org/basic-syntax/">基本</a> markdown 语法，但有以下例外：
</p>

<ul>
 <li>不允许使用图片</li>
 <li>不允许使用相对链接，仅允许绝对链接</li>
 <li>不允许链接到 <em>http</em>、<em>https</em> 或 <em>mailto</em> 以外的协议。</li>
 <li>可以使用内联 HTML，但只允许使用与 markdown 生成的相同标签和属性。强烈建议使用原生 markdown。</li>
</ul>

<h2>预览</h2>
<p>
 markdown 字段的<em>实时预览</em>在 Internet Explorer 上无法使用。
</p>
<p>
 预览是异步更新的，因此在进行更改后，预览更新可能会有几秒钟的延迟，具体取决于网络速度。
</p>

{%endblock%}
