{%extends "base/page.html"%}
{%block title%}{{title}}{%endblock%}
{%block contents%}
<h1>{{title}} <i class="fa fa-question-circle"></i></h1>
<p>以下 {{whatname}} 在 {{regionname}} 注册。</p>

{% for s in services %}
  <h2 class="news">
    <a href="{{s.url}}" target="_blank" rel="noopener">{{ s.org.name }}</a>
  </h2>
  <table class="table table-striped profserv-table">
    <tbody>
      {% if s.url %}
         <tr>
          <th scope="row">网站</th>
          <td><a href="{{s.url}}" target="_blank" rel="noopener nofollow">{{s.url}}</a></td>
         </tr>
      {% endif %}
      <tr>
        <th scope="row">描述</th>
        <td>{{s.description}}</td>
      </tr>
      {% if s.provides_hosting and s.provides_support %}
        <tr>
          <th scope="row">提供</th>
          <td>提供支持和托管服务。</td>
        </tr>
      {% endif %}
      {%if s.employees %}
        <tr>
          <th scope="row">员工</th>
          <td>{{s.employees}}</td>
        </tr>
      {% endif %}
      {%if s.locations%}
        <tr>
          <th scope="row">办公地点</th>
          <td>{{s.locations}}</td>
        </tr>
      {% endif %}
      {% if s.hours %}
        <tr>
          <th scope="row">工作时间</th>
          <td>{{s.hours}}</td>
        </tr>
      {% endif %}
      {% if s.languages %}
        <tr>
          <th scope="row">语言</th>
          <td>{{s.languages}}</td>
        </tr>
      {% endif %}
      {% if s.customerexample %}
        <tr>
          <th scope="row">客户案例</th>
          <td>{{s.customerexample}}</td>
        </tr>
      {% endif %}
      {% if s.experience %}
        <tr>
          <th scope="row">经验</th>
          <td>{{s.experience}}</td>
        </tr>
      {% endif %}
      {%if s.contact%}
        <tr>
          <th scope="row">联系方式</th>
          <td>{{s.contact}}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <hr />
{%endfor%}

{%endblock%}
