{%extends "base/page.html"%}
{%block title%}提交者{%endblock%}
{%block contents%}

<h1>提交者 <i class="fa fa-users"></i></h1>

<p>
  以下是当前有权向
  <a href="https://git.postgresql.org/gitweb/?p=postgresql.git">git 仓库</a>推送代码的人员列表。
  有关提交工作流程的技术细节，请参阅
  <a href="https://wiki.postgresql.org/wiki/Committing_with_Git">使用 Git 提交</a>。
  这仅是当前有权向 git 推送代码的人员列表；有关当前和以往贡献者的信息，
  请查看网站的贡献者简介部分。
</p>

<h2>提交者</h2>

<p>
  此处的名单按首次提交或被添加为提交者的时间排序，最早的排在前面；
  这并不意味着对贡献深度有任何暗示。
</p>
<ul>
  <li>Bruce Momjian</li>
  <li>Tom Lane</li>
  <li>Tatsuo Ishii</li>
  <li>Peter Eisentraut</li>
  <li>Joe Conway</li>
  <li>&Aacute;lvaro Herrera</li>
  <li>Andrew Dunstan</li>
  <li>Magnus Hagander</li>
  <li>Heikki Linnakangas</li>
  <li>Robert Haas</li>
  <li>Jeff Davis</li>
  <li>Fujii Masao</li>
  <li>Noah Misch</li>
  <li>Andres Freund</li>
  <li>Dean Rasheed</li>
  <li>Alexander Korotkov</li>
  <li>Amit Kapila</li>
  <li>Tomas Vondra</li>
  <li>Michael Paquier</li>
  <li>Thomas Munro</li>
  <li>Peter Geoghegan</li>
  <li>Etsuro Fujita</li>
  <li>David Rowley</li>
  <li>Daniel Gustafsson</li>
  <li>John Naylor</li>
  <li>Nathan Bossart</li>
  <li>Amit Langote</li>
  <li>Masahiko Sawada</li>
  <li>Melanie Plageman</li>
  <li>Richard Guo</li>
  <li>Jacob Champion</li>
</ul>

<h2>关于提交日志的说明</h2>
<p>
  数十年来，数百名开发者成功地为 PostgreSQL 做出了贡献，
  其中许多是以个人身份参与，也有许多代表学术机构以及用户和厂商公司。
  此类补丁的"Author"和"Committer"字段都将显示提交者。
  补丁的实际作者（如果不同）通常会在提交消息中注明；
  审阅者或其他贡献了想法或以其他方式协助补丁的人也可能被列出。
  许多补丁在提交时是多人协作的成果：原始作者、审阅者和/或提交者。
  因此，无法仅从提交日志中对贡献的持续时间或深度进行简单分析。
  该项目运行着严格的同行评审系统，即使是提交者，其工作也会由其他提交者和整个社区进行审查。
</p>

<h2>新增提交者与移除提交者</h2>
<p>
  新的提交者大约每年在现有提交者讨论和投票后增加。
  PostgreSQL 的贡献者根据以下大致标准被选为提交者：
</p>
<ul>
  <li>对项目有数年的实质性贡献</li>
  <li>持续进行多项代码贡献</li>
  <li>负责维护代码库中的一个或多个领域</li>
  <li>有审阅和帮助其他贡献者处理补丁的良好记录</li>
  <li>提交的高质量代码几乎不需要修改或纠正即可合入</li>
  <li>对补丁接受的流程和标准有充分理解</li>
</ul>
<p>
  通常，新提交者在每年三月或四月被选出，并在
  <a href="https://www.postgresql.org/list/pgsql-hackers/">Hackers 邮件列表</a>上公布。
</p>

<p>
  已经不活跃且数年来未对 PostgreSQL 项目做出重大贡献的提交者将被移除提交权限。
  同样，此审查过程大约每年进行一次。
</p>

{%endblock%}
