{%extends "base/page.html"%}
{%block title%}核心团队{%endblock%}
{%block contents%}

<h1>核心团队 <i class="fa fa-users"></i></h1>

<p>PostgreSQL 全球开发组核心团队由七位资深社区成员组成，
他们各有不同的专长领域。其职责包括：</p>
<ul>
  <li>协调发布活动。</li>
  <li>充当机密通信的联络渠道。</li>
  <li>发布政策公告。</li>
  <li>管理提交、基础设施等方面的权限。</li>
  <li>处理纪律问题。</li>
  <li>在缺乏共识时做出困难决定。</li>
</ul>

<p>核心团队避免介入那些更适合在公开论坛中讨论的话题，
例如技术方向和宣传推广。核心团队成员由现有核心团队成员任命。</p>

<p>核心团队成员名单请参阅
<a href="/community/contributors/">贡献者简介</a>页面。</p>

<h2>活动报告</h2>

<p>从 2019 年开始，核心团队计划定期发布活动报告。
报告如下：</p>

<ul>
  <li><a href="/developer/corereports/january2022_december2022/">2022 年 1 月 - 2022 年 12 月</a></li>
  <li><a href="/developer/corereports/june2019_december2021/">2019 年 6 月 - 2021 年 12 月</a></li>
  <li><a href="/developer/corereports/june2018_may2019/">2018 年 6 月 - 2019 年 5 月</a></li>
</ul>

<h2>联系方式</h2>

<p>您可以通过发送邮件至 pgsql-core [at] postgresql [dot] org 联系核心团队。</p>

{%endblock%}
