{%extends "base/page.html"%}
{%block title%}路线图{%endblock%}
{%block contents%}

<h1>路线图 <i class="fas fa-road"></i></h1>

<p>PostgreSQL 是一个非商业性质的、完全由志愿者参与的自由软件项目，因此
没有正式的开发功能需求列表。我们乐于让开发者自由探索他们感兴趣的主题，
同时也确保所有提交到 PostgreSQL 的新功能都经过我们贡献者和提交者社区的
充分审查。
</p>

<h2>即将发布的小版本</h2>
<p>
PostgreSQL 项目计划<em>至少</em>每季度发布一次小版本，
按照预定的时间表进行。如果因为重要的错误修复或安全问题而有必要，
将在这些日期之间发布更多版本，因此该列表应被视为最低频率。
在每个发布日期，都会为每个<a href="/support/versioning/">受支持的版本</a>发布一个新的小版本。
</p>
<p>
除非另有说明，这些版本的目标发布日期为每年二月、五月、八月和十一月的
第二个周四。当前即将发布的时间表如下：
</p>
<ul>
  <li>2026 年 8 月 13 日</li>
  <li>2026 年 11 月 12 日</li>
  <li>2027 年 2 月 11 日</li>
  <li>2027 年 5 月 13 日</li>
</ul>

<h2>下一个主版本</h2>

<p>
  PostgreSQL 的下一个主版本计划为第 19 版。该版本计划于 2026 年 9 月发布。
</p>

<p>虽然 PostgreSQL 的每个版本没有正式的需求要求，但您可以通过以下几个地方
了解即将推出的功能的更多信息：</p>
<ul>
	<li>通用<a href="https://wiki.postgresql.org/wiki/Development_information" target="_blank" rel="noopener">开发信息</a> - 关于 PostgreSQL 开发流程各方面的 Wiki 页面</li>
	<li>当前 <a href="https://commitfest.postgresql.org/" target="_blank" rel="noopener">CommitFest</a> 的信息 - 当前提交节补丁状态的概览</li>
</ul>
{%endblock%}
