{%extends "base/page.html"%}
{%block title%}测试{%endblock%}
{%block contents%}

<h1>测试 <i class="fa fa-code"></i></h1>

<p>
  PostgreSQL 的稳定性和性能得益于人们的辛勤测试和反馈，无论是
  <a href="/account/submitbug/">缺陷</a>、
  <a href="/support/security/">安全问题</a>还是性能问题。
</p>

<p>
  以下是一些资源，可以帮助您测试提交到 PostgreSQL 项目的最新代码。
  这些链接包含正在进行的 beta 测试、每日开发构建和文档更新的信息。
</p>

<p>
  本节中直接引用的任何代码或构建都不应被视为可用于生产环境。
</p>

<h2>测试构建</h2>
<ul>
    <li><a href="/developer/beta/">当前 Beta 版本信息</a></li>
    <li><a href="https://www.postgresql.org/ftp/snapshot/dev/">下载每日代码构建</a></li>
    <li><a href="/download/snapshots/">下载定期二进制构建</a></li>
    <li><a href="https://buildfarm.postgresql.org/">分布式构建农场</a></li>
</ul>

<h2>文档</h2>
<ul>
  <li><a href="/docs/devel/">开发版文档</a>（<a href="https://buildfarm.postgresql.org/cgi-bin/show_stage_log.pl?nm=guaibasaurus&dt=latest&stg=make-doc">构建日志</a>）</li>
</ul>
{%endblock%}
