{%extends "base/page.html"%}
{%block title%}贡献赞助者{%endblock%}
{%block contents%}

<h1>贡献赞助者 <i class="fa fa-users"></i></h1>

<p>以下是 PostgreSQL 重要贡献赞助者的分类列表。这些赞助者贡献其员工时间来推动 PostgreSQL 项目的发展。
  各部分中的赞助者不按特定顺序排列，仅显示各公司总部所在地。</p>

{% for sponsor in sponsors %}
  {% ifchanged sponsor.sponsortype %}
    {% if not forloop.first %}
          </tbody>
        </table>
    {% endif %}
    <h2>{{ sponsor.sponsortype.typename }}</h2>
    <table class="table table-striped sponsor-table">
      <tbody>
        {% endifchanged%}
          <tr>
            <th scope="row" class="organisation-logo">
              <a href="{{ sponsor.url }}" target="_blank" rel="noopener">
                <img class="organisation-logo" src="/media/img/about/sponsors/{{ sponsor.logoname }}" alt="{{ sponsor.name }}" />
              </a>
            </th>
            <td>
              <a href="{{ sponsor.url }}" target="_blank" rel="noopener">{{ sponsor.name }}</a>
            </td>
            <td>{{ sponsor.country }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

<h2>赞助认可</h2>
<p>
  赞助认可完全由<a href="/about/policies/sponsorship/">赞助委员会</a>决定，最近一次更新于 2023 年 3 月。
</p>
{%endblock%}
