{%extends "base/page.html"%}
{%block title%}财务赞助者{%endblock%}
{%block contents%}

<h1>财务赞助者 <i class="fas fa-money-bill-alt"></i></h1>

  <p><a href="/about/financial">财务赞助者</a>是向世界各地支持该项目的 <a href="/about/policies/npos/">PostgreSQL 认可的非营利组织</a> 之一捐赠资金的个人或公司。每个非营利组织自行决定其赞助者在本节中的分组和列出方式。
  </p>

<h2>PostgreSQL Community Association</h2>

<p><a href="https://postgres.ca/">PostgreSQL Community Association</a> 致力于管理项目的商标和域名，以确保 PostgreSQL 对所有人保持免费和开放。使用以下赞助等级：</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>等级</th>
      <th>最低捐赠金额（美元，自 2026 年 2 月起）</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">资助者</th>
      <td>$40,000</td>
    </tr>
    <tr>
      <th scope="row">赞助人</th>
      <td>$20,000</td>
    </tr>
    <tr>
      <th scope="row">支持者</th>
      <td>$5,000</td>
    </tr>
    <tr>
      <th scope="row">友人</th>
      <td>$2,500</td>
    </tr>
    <tr>
      <th scope="row">捐赠者</th>
      <td>&lt; $2,500</td>
    </tr>
  </tbody>
</table>

<p>
  如需了解 PGCA 的工作及其使命的更多信息，请访问
  <a href="https://www.postgres.ca/donate/">PGCA 捐赠页面</a>。
</p>

<h3>PostgreSQL 社区协会赞助者</h3>

<p>
    当前友人等级及以上的赞助者包括：
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th></th>
      <th>捐赠日期</th>
      <th>等级</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://www.enterprisedb.com" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_edb.svg" alt="EDB" />
        </a>
      </th>
      <td><a href="https://www.enterprisedb.com" target="_blank" rel="noopener">EDB</a></td>
      <td>2026 年 1 月</td>
      <td>资助者</td>
    </tr>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://aws.amazon.com" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_aws.svg" alt="AWS" />
        </a>
      </th>
      <td><a href="https://aws.amazon.com" target="_blank" rel="noopener">AWS</a></td>
      <td>2025 年 7 月</td>
      <td>资助者</td>
    </tr>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://pganalyze.com" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_pganalyze.png" alt="pganalyze" />
        </a>
      </th>
      <td><a href="https://pganalyze.com" target="_blank" rel="noopener">pganalyze</a></td>
      <td>2025 年 8 月</td>
      <td>支持者</td>
    </tr>
    <tr>
      <th scope="row" class="organisation-logo">
        <a href="https://intevation.de/index.en.html" target="_blank" rel="noopener">
          <img class="organisation-logo" src="/media/img/about/sponsors/logo_intevation.svg" alt="Intevation" />
        </a>
      </th>
      <td><a href="https://intevation.de/index.en.html" target="_blank" rel="noopener">Intevation GmbH</a></td>
      <td>2025 年 12 月</td>
      <td>友人</td>
    </tr>
  </tbody>
</table>
{%endblock%}
