{%extends "base/page.html"%}
{%block title%}赞助者{%endblock%}
{%block contents%}

<h1>赞助者 <i class="fa fa-users"></i></h1>

  <p>PostgreSQL 项目的赞助者按其支持项目的方式分为三个类别：</p>

<h2>贡献赞助者</h2>
  <p><a href="/about/contributing/">贡献赞助者</a>是指允许其员工将部分或全部工作时间用于帮助构建 PostgreSQL、参与其他项目领域以及有利于 PostgreSQL 用户和整个项目的生态系统项目的公司。</p>

<h2>财务赞助者</h2>
  <p><a href="/about/financial/">财务赞助者</a>是指向全球范围内支持该项目的<a href="/about/policies/npos/">认可的 PostgreSQL 非营利组织</a>之一捐款的个人或公司。每个非营利组织自行决定其赞助者在本部分中的分组和列出方式。
  </p>

<h2>服务器赞助者</h2>
  <p>像 PostgreSQL 这样的项目需要大量的在线基础设施才能运行。这些<a href="/about/servers/">服务器赞助者</a>提供一台或多台服务器和/或托管服务来帮助支持该项目。
  </p>
{%endblock%}
