{%extends "base/page.html"%}
{%load pgmarkdown%}
{%block title%}{{obj.title}}{%endblock%}
{%block contents%}
<h1>{{obj.title}}</h1>
<div class="newsdate">发布于 <strong>{{obj.displaydate}}</strong>{% if obj.org.name != '_migrated' %}，{{ obj.org.name }}{% endif %}</div>
<div class="newstags newsdate">{%for t in obj.tags.all%}
<span class="badge badge-pill badge-secondary"><i class="fa fa-tag"></i> {{t}}</span>
{%endfor%}
</div>

{{obj.content|markdown}}
{%if obj.is_migrated%}
<p><em>此文章已从旧版 PostgreSQL 网站迁移。对于迁移导致的任何格式问题，我们深表歉意。</em></p>
{%endif%}
{%endblock%}
