{%extends "base/page.html"%}
{%block title%}PostgreSQL 本地用户组{%endblock%}
{%block contents%}
<h1>本地用户组 <i class="fa fa-users"></i></h1>

<p>PostgreSQL 社区很自豪地拥有许多本地分会，致力于推广和教育用户使用 PostgreSQL。以下是按国家和地区排列的 PostgreSQL 用户组（PUG）列表。</p>
<p>如果您想创建一个 PostgreSQL 用户组，请发送电子邮件至 <a href="mailto:usergroups@postgresql.org">usergroups@postgresql.org</a>，描述您想要创建的 PUG。如果您所在的地区已有 PUG，请通过以下链接了解如何参加和参与。</p>
<p>PostgreSQL 用户组必须遵守<a href="/about/policies/user-groups/">认可的 PostgreSQL 用户组</a>政策。</p>

{% for pug_group in pug_list %}
  <h2>{{ pug_group.country }}</h2>
  <ul>
  {% for pug in pug_group.pugs %}
    <li>
      <strong>{{ pug.locale }}</strong>:
      {% if pug.website_url %}
        <a href="{{ pug.website_url }}" target="_blank" rel="noopener">
      {% endif %}
      {{ pug.title }}
      {% if pug.website_url %}
        </a>
      {% endif %}
      {% if pug.website_url %}
        (<a href="{{ pug.website_url }}" target="_blank" rel="noopener">网站</a>)
      {% endif %}
      {% if pug.mailing_list_url %}
        (<a href="{{ pug.mailing_list_url }}" target="_blank" rel="noopener">邮件列表</a>)
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
{%endblock%}
