{%extends "base/base.html" %}
{% load pgfilters %}
{%block title%}中文网：世界上最先进的开源数据库{%endblock%}
{%block meta%}
  <meta name="description" content="PostgreSQL 官方网站中文版，世界上最先进的开源数据库" />
{%endblock%}
{%block layoutblock%}
<div class="jumbotron jumbotron-fluid pg-jumbotron">
  <div class="container">
    <h1 class="text-white pg-jumbotron-header">PostgreSQL：世界上最先进的开源关系型数据库</h1>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-light btn-rounded" role="button" href="/download/">下载 <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a class="btn btn-light btn-rounded" role="button" href="/about/">初识 PostgreSQL？</a>
      </div>
    </div>
  </div>
</div>
<!-- END Jumbotron -->
<div class="container margin">
  <!-- Start First Feature Row -->

  <div class="row">
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <img src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo">
      <h2>初识 PostgreSQL？</h2>
      <div class="text">
        <p>
          PostgreSQL 是一个强大的开源对象关系型数据库系统，历经 35 年以上的持续开发，在可靠性、功能完备性和性能方面享有卓著声誉。
        </p>
        <p>
          <a href="/docs/">官方文档</a>提供了大量关于如何<a href="/download/">安装</a>和<a href="/docs/">使用</a> PostgreSQL 的资料。
          <a href="/community/">开源社区</a>也提供了丰富的交流渠道，帮助您了解 PostgreSQL 的工作原理、获取支持并寻找职业机会。您还可以进一步了解如何<a href="/community/">参与社区</a>。
        </p>
      </div>
      <a href="/about/" title="了解更多"><button type="button" class="btn btn-center btn-primary btn-inline-block">了解更多</button></a>
      <a href="/about/featurematrix/" title="特性矩阵"><button type="button" class="btn btn-center btn-primary btn-inline-block">特性矩阵</button></a>
      <a href="/about/governance/" title="项目治理"><button type="button" class="btn btn-center btn-primary btn-inline-block">项目治理</button></a>
    </div>
    <!-- END Feature -->

    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-download"></i>
      <h2>最新版本</h2>
      <div class="text">
        <p>
          <strong>
            2026-02-26 -
            <a href="/about/news/postgresql-183-179-1613-1517-and-1422-released-3246/">
              PostgreSQL 18.3、17.9、16.13、15.17 和 14.22 发布！
            </a>
          </strong>
        </p>
        <p>
          PostgreSQL 全球开发组已<a href="/download/">发布</a>覆盖所有受支持版本的更新，包括 18.3、17.9、16.13、15.17 和 14.22。
          这是一次计划外的发布，修复了上次更新发布后报告的<a href="/about/news/out-of-cycle-release-scheduled-for-february-26-2026-3241/">若干回归问题</a>。
        </p>
        <p>
          有关本次发布的更多信息，请查阅<a href="/docs/release/">发布说明</a>。您可以从<a href="/download/">下载</a>页面获取 PostgreSQL。
        </p>
        <p>
          有关 PostgreSQL 18（当前最新的大版本）的更多信息，请参阅<a href="/about/press/">完整新闻稿</a>以及<a href="/about/press/">新闻资料包</a>中的<a href="/about/press/">发布公告译文</a>。
        </p>
        <ul>
          {% for v in versions %}
            <li class="{% cycle '' 'pg-bg-gray' %}"><strong>{{ v.numtree }}.{{ v.latestminor }}</strong> &middot; {{ v.reldate|date:"Y-m-d" }} &middot; <a href="/docs/{{ v.numtree }}/{{ v.relnotes }}">说明</a></li>
          {% endfor %}
        </ul>
      </div>
      <a href="/download/" title="下载"><button type="button" class="btn btn-center btn-primary">下载</button></a>
      <a href="/support/versioning/" title="为什么要升级？"><button type="button" class="btn btn-center btn-outline-secondary btn-inline-block">为什么要升级？</button></a>
      <a href="/support/security/" title="安全"><button type="button" class="btn btn-center btn-outline-secondary btn-inline-block">安全</button></a>
    </div>
    <!-- END Feature -->

  </div>
  <!-- END First Feature Row -->
  <!-- Start Second Feature Row -->
  <div class="row">
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-calendar-alt"></i>
      <h2>近期活动</h2>
      <div class="text">
        <ul>
          {% for event in events %}
            <li class="{% cycle '' 'pg-bg-gray' %} {% if not event.badged%}non-badged{% endif %}">
              {% if event.badged %}
                <img src="/media/img/PostgreSQL_Badge1.svg" class="community" alt="PostgreSQL Community Event">
              {% endif %}
              {{ event.displaydate|safe }} &middot; <a href="/about/event/{{ event.title|slugify }}-{{ event.id }}/">{{ event.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <p>
          <img src="/media/img/PostgreSQL_Badge1.svg" class="community" alt="PostgreSQL Community Event">
            表示该活动符合 <a href="/about/policies/conferences/">社区活动准则</a>，并对 PostgreSQL 社区具有直接价值。
        </p>
      </div>
      <a href="/about/events/" title="查看日程"><button type="button" class="btn btn-center btn-primary btn-inline-block">查看日程</button></a>
      <a href="/account/events/new/" title="提交您的活动"><button type="button" class="btn btn-center btn-primary btn-inline-block">提交您的活动</button></a>
    </div>
    <!-- END Feature -->
    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fas fa-envelope"></i>
      <h2>邮件列表</h2>
      <div class="text">
        <p>
          PostgreSQL <a href="https://lists.postgresql.org" target="_blank" rel="noopener">邮件列表</a>为您提供了与活跃社区成员交流的渠道，可讨论 PostgreSQL 开发、使用、近期活动和产品发布等主题。
        </p>
        <p>
          要管理您的邮件列表订阅，您需要一个 <a href="/account/">PostgreSQL 社区账户</a>。<a href="/account/">注册</a>流程非常简单，可让您直接参与<a href="/community/">全球 PostgreSQL 社区</a>。
        </p>
      </div>
      <a href="https://lists.postgresql.org" title="订阅"><button type="button" class="btn btn-center btn-primary btn-inline-block">订阅</button></a>
      <a href="https://www.postgresql.org/list/" title="查看归档"><button type="button" class="btn btn-center btn-outline-secondary btn-inline-block">查看归档</button></a>
    </div>
    <!-- END Feature -->
  </div>
  <!-- END Second Feature Row -->
</div>
<!-- CTA -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 cta cta-3"></div>
    <div class="col-lg-6 cta-text">
      <h2>学习与交流机会</h2>
      <p class="text-left">
        希望深入了解 PostgreSQL 并参与社区？欢迎参加各类活动、本地用户组和培训课程。</br>在这里，您可以结识经验丰富的 PostgreSQL 用户，并持续提升数据库技能。
      </p>
      <a href="/about/events/" title="浏览活动"><button type="button" class="btn btn-light btn-rounded">浏览活动</button></a>
      <a href="/community/user-groups/" title="浏览用户组"><button type="button" class="btn btn-light btn-rounded">浏览用户组</button></a>
    </div>
  </div>
</div>
<!-- END CTA -->
<!-- News -->
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2 class="centered-lines">最新动态</h2>
      <!-- Featured Post -->
        <header>
          <h3>
            <a href="/about/news/postgresql-183-179-1613-1517-and-1422-released-3246/">
              PostgreSQL 18.3、17.9、16.13、15.17 和 14.22 发布！
            </a>
          </h3>
          <ul class="meta">
            <li><i class="far fa-clock"></i>&nbsp;2026-02-26</li>
            <!--<li><i class="far fa-comments"></i> 0</li>-->
          </ul>
        </header>
        <p>
          PostgreSQL 全球开发组已<a href="/download/">发布</a>覆盖所有受支持版本的更新，包括 18.3、17.9、16.13、15.17 和 14.22。
          这是一次计划外的发布，修复了上次更新发布后报告的<a href="/about/news/out-of-cycle-release-scheduled-for-february-26-2026-3241/">若干回归问题</a>。您可以在<a href="/docs/release/">发布说明</a>中找到修复的详细信息。
        </p>
        <ul class="bold">
          <li><a href="/about/news/postgresql-183-179-1613-1517-and-1422-released-3246/">发布公告</a></li>
          <li><a href="/docs/release/">发布说明</a></li>
          <li><a href="/about/press/">PostgreSQL 18 媒体资料包</a></li>
          <li><a href="/support/versioning/">版本策略</a></li>
          <li><a href="/download/">下载</a></li>
        </ul>
        <a href="/about/newsarchive/" title="归档"><button type="button" class="btn btn-primary btn-center btn-inline-block">浏览归档</button></a>
        <a href="/account/news/new/" title="提交新闻"><button type="button" class="btn btn-primary btn-center btn-inline-block">提交新闻</button></a>
    </div>
    <div class="col-lg-5">
      <div class="sidebar">

        <!-- Archives -->
        <ul class="divided">
          {% for n in news %}
            <li>
              <h3><a href="/about/news/{{ n.title|slugify }}-{{ n.id }}/">{{ n.title }}</a></h3>
              <ul class="meta">
                <li><i class="far fa-clock"></i>&nbsp;{{ n.displaydate }}，{{ n.org.name }}</li>
              </ul>
            </li>
          {% endfor %}
        </ul>
        <!-- END Archives -->
      </div>
    </div>
  </div>
</div>
<!-- Blog -->
 <div class="container margin">
   <div class="row">
     <div class="col-md-12">
       <h2 class="centered-lines"><span>PLANET POSTGRESQL</span></h2><!-- Planet PostgreSQL 博客聚合 -->
       <div class="feature"><i class="fas fa-globe"></i></div>
    </div>
   </div>
   <!-- First Row Planet PostgreSQL -->
   <div class="row">
     <!-- First Column First Row Planet PostgreSQL -->
      {%for post in planet %}
        <div class="col-md-4">
          <div class="text-center">
            <h3><a href="{{ post.url }}">{{ post|planet_title }}</a></h3>
            <ul class="meta">
              {% if post|planet_author %}
              <li><i class="far fa-comments"></i>&nbsp;{{ post|planet_author }}</li>
              {% endif %}
              <li><i class="far fa-clock"></i>&nbsp;{{ post.date }}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
   </div>
   <!-- END First Row Planet PostgreSQL -->
   <div class="row">
     <div class="col-sm-12">
       <a href="https://planet.postgresql.org" title="浏览归档" target="_blank" rel="noopener"><button type="button" class="btn btn-center btn-primary">浏览归档</button></a>
     </div>
   </div>
 </div>
 <!-- SUBMIT A BUG -->
 <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6 cta-text">
       <h2>遇到异常行为？</h2>
       <p>
         PostgreSQL 社区始终致力于提供能够可靠存储数据的软件。</br>
         如果您认为发现了 Bug，请点击下方按钮并按照说明提交报告。
       </p>
       <a href="https://www.postgresql.org/account/submitbug/" title="提交 Bug"><button type="button" class="btn btn-light btn-rounded">提交 Bug</button></a>
     </div>
     <div class="col-lg-6 cta cta-2"></div>
   </div>
 </div>
 <!-- END SUBMIT A BUG -->
{%endblock%}
