{%extends "base/page.html"%}
{%block title%}PostgreSQL 9.3 版本发布说明{%endblock%}
{%block contents%}

<h1>PostgreSQL 9.3 版本发布说明</h1>

<h2>目录</h2>

<p>
 &nbsp; <a href="#original_release">新版本发布说明的原文</a><br />
 &nbsp; <a href="#features">特性列表</a><br />
 &nbsp; <a href="#download">下载地址</a><br />
 &nbsp; <a href="#docs">文档</a><br />
 &nbsp; <a href="#license">版权声明</a><br />
 &nbsp; <a href="#contact">联系方式</a><br />
 &nbsp; <a href="#quoted_companies">相关商业公司引语与全文</a><br />
 &nbsp; <a href="#companies">企业支持</a><br />
</p>

<a name="original_release"></a><h2>新版本发布说明的原文</h2>

<p>2013/9/9: 全球开发组宣布业界领先的开源关系数据库 PostgreSQL 9.3 版发布，这个版本扩展了可靠性、可用性及与其他数据库易集成性，用户将会发现，他们可以使用9.3 版本创建一些对以前版本是不可能实现的新功能。
</p>

<p>
“PostgreSQL 9.3 为应用开发者提供了我可以立即使用的功能：更好的 JSON 功能、正则表达式索引，以及借助 PostgreSQL 外部数据包装器更轻松地整合数据库。没有 9.3，我真不知道以前的项目是怎么完成的。”VenueBook 公司的 CTO Jonathan S. Katz 说道。
</p>

<p>
<b>外部数据的可读写</b>
</p>

<p>
9.3 版本的外部数据包装器使 PostgreSQL 能够读写外部数据，允许在不同数据库系统间进行双向数据交互。今天，复杂的 IT 环境下可能包括多种数据库以及半结构化的数据源，使用 PostgreSQL 将帮助用户将这些数据整合为一个有机的整体。此外，项目还发布了 postgres_fdw，这是一款性能更高的 PostgreSQL 到 PostgreSQL 读写联邦驱动。
</p>

<p>
“外部数据包装器使我们可以随时接入并测试各种备选后台数据库，让我们能够更智能地选择不同方案来快速满足不同需求。能够设计并实施新的存储方式（包括我们用 Go 语言开发的内部实验性存储），并观察它们如何读、写，甚至彼此进行事务交互，这件事非常令人兴奋。”CloudFlare 联合创始人兼首席工程师 Lee Holloway 说道。
</p>

<p>
<b>增强的可靠性和可用性</b>
</p>

<p>
“PostgreSQL 因为它众所周知的稳定性、强壮性、数据一致性、安全性、ACID 事务性和 SQL 标准规范性一直就是我的最喜欢的选择”，Gandi.net 网站的研发经理 Pascal Bouchareine 说道，“我对9.3 版本中快速的失效转移功能尤其感到兴奋”。
</p>

<p>
新版本中用于进一步提升和扩展 PostgreSQL 可靠性和可用性的特性包括：
</p>

<ul>
<li>数据页的校验：帮助管理员快速检查失效磁盘和可能导致数据出错的有问题硬件</li>
<li>快速失效转移：可以实现亚秒级的从主库向副本的切换，支持“电信级”高可用性</li>
<li>流式重建：在主机失效后可以更加简单、快速地重新配置级联复制</li>
</ul>

<p>
<b>开发人员友好的特性</b>
</p>

<p>
如同每年的大版本升级一样，PostgreSQL 9.3 版本也包括很多让 PostgreSQL 工作起来更加简单、更加灵活和让应用程序开发人员、管理员、架构师有更多工作乐趣的新特性，这些特性包括：
</p>

<ul>
<li>更多的 JSON 构建器和提取方法</li>
<li>可自动更新的视图</li>
<li>可并行执行 pg_dump 导出，以提高大数据库的备份速度</li>
<li>LATERAL 连接（后一个子查询可以引用前一个子查询内容）</li>
</ul>

<p>
另外，PostgreSQL 9.3 版本的用户自定义的后台进程允许开发者开发任务管理器、请求处理器、并行处理器、队列工具以及其他应用程序的辅助程序，以使 PostgreSQL 可作为一个工作负载协调器。如已有一个已发布的应用程序 Mongres，这是一个后台进程，它可以接受 MongoDB 的查询请求、翻译请求并将之传给 PostgreSQL。
</p>

<p>
<b>关于 PostgreSQL</b>
</p>

<p>
PostgreSQL 是业内领先的开源数据库系统，背后是一个由数千名用户和贡献者以及数十家公司和组织组成的全球社区。PostgreSQL 项目建立在始于加利福尼亚大学伯克利分校的 25 年工程积累之上，如今仍保持着无与伦比的开发速度。PostgreSQL 成熟的特性集不仅可与顶级专有数据库系统相媲美，还在高级数据库特性、扩展性、安全性和稳定性方面超越它们，更多详情并加入我们的社区，请访问
<a href="https://www.postgresql.org">PostgreSQL.org</a>。
</p>

<a name="features"></a><h2>有关新特性的更多信息</h2>

<p>
有关上述提及的新特性以及其他特性介绍，可查询以下资源：
</p>
<ul>
<li><a href="/docs/9.3/release-9-3.html">发布声明</a></li>
<li><a href="/docs/9.3/index.html">9.3 版本的文档</a></li>
<li><a href="https://wiki.postgresql.org/wiki/What%27s_new_in_PostgreSQL_9.3">9.3 版本的新特性（英文网站）</a></li>
<li><a href="/about/featurematrix">特性矩阵（仅英语）</a></li>
<li><a href="https://github.com/umitanuki/mongres">Mongres: MongoDB 在 PostgreSQL 平台的模拟器</a></li>
<li><a href="http://blog.cloudflare.com/kyoto_tycoon_with_postgresql">CloudFlare 的 PostgreSQL Kyoto Tycoon FDW</a></li>
<li><a href="https://wiki.postgresql.org/wiki/Foreign_data_wrappers">其他外部数据包装器的列表</a></li>
</ul>

<a name="download"></a><h2>下载</h2>
<ul>
<li><a href="/download">下载页面</a>有含 Windows、Linux、OSX、BSD 和 Solaris 平台下的安装包及其他工具</li>
<li><a href="https://www.postgresql.org/ftp/source/v9.3.0">源代码</a></li>
<li><a href="http://pgxn.org">PostgreSQL 扩展模块网站</a></li>
<li><a href="/download/product-categories">相关商业软件</a></li>
</ul>

<a name="docs"></a><h2>文档</h2>

<p>
HTML 格式文档和 man 格式的文档随 PostgreSQL 一起安装，用户也可以免费地在网站上对<a href="/docs/9.3/">在线文档</a>进行浏览、搜索和反馈评论。
</p>

<a name="license"></a><h2>版权声明</h2>
<p>
PostgreSQL 使用 <a href="/about/licence">PostgreSQL 版权声明</a>，它是类似 BSD 的版权。
由于这个经 <a href="http://www.opensource.org/licenses/postgresql">OSI 认证的版权</a> 不限制 PostgreSQL 在商业环境和有版权的应用程序中使用，因此被公认为是非常有灵活性和对商业应用是友好的。加上有多个公司的支持和源代码归属公共所有，我们的版权使得 PostgreSQL 在那些希望在自己的产品里嵌入数据库的厂商中很流行，因为他们不用担心费用、嵌入软件的版权锁以及版权条款的改变。
</p>

<a name="contact"></a><h2>联系方式</h2>

<p>相关网站</p>
<ul>
<li><a href="https://www.postgresql.org">PostgreSQL 的网站</a></li>
<li><a href="http://www.pgsqldb.com:8079">PostgreSQL 中文社区网站</a></li>
<li><a href="http://www.pgsqldb.com:8079">PostgreSQL 中文社区网站</a></li>
<li><a href="http://www.pgsqldb.com:8079">PostgreSQL 中文社区网站</a></li>
</ul>

<p>联系人：</p>
<p>
何伟平<br />
北京<br />
<a href="mailto:laserhenry@gmail.com">laserhenry@gmail.com</a><br />
<br />
周到京<br />
合肥<br />
13515513326<br />
<a href="mailto:cn@postgresql.org">cn@postgresql.org</a>
</p>



<a name="quoted_companies"></a><h2>相关商业公司信息</h2>

<b>VenueBook 公司</b>

<blockquote>“PostgreSQL 9.3 版本为开发者提供了一系列可立即使用的功能，例如更好的 JSON 功能、正则表达式索引，以及更容易使用外部数据包装器来整合数据库。没有 9.3 版本的这些功能，我都不知道我的项目如何按时完成。”VenueBook 公司的技术总监 Jonathan S. Katz 说道。</blockquote>

<p><a href="http://venuebook.com/">VenueBook 公司</a> 提供基于云计算的活动管理方案，可以在一个地方帮助管理整个活动流程。我们的软件帮助活动经理准备并审批合同、菜单、在线支付等事务。不同于市面上只能帮你管理活动的其他系统，我们还能简化流程并安排日程。联系方式（仅英语）：<a href="mailto:info@venuebook.com">info@venuebook.com</a>, +1 646-543-8368</p>

<b>CloudFlare 公司</b>

<blockquote>“CloudFlare 很自豪地将 PostgreSQL 9.3 纳入我们的工具箱，为数百万网站提供加速和安全保障。它为我们在数据层保持敏捷并实现扩展提供了所需的可扩展性和可定制性。尤其是可写的外部数据包装器，让我们可以接入并无缝测试各种后端备选方案，使我们能够快速满足不同需求并进行智能原型设计。能够构想并搭建新的数据存储（包括我们用 Go 编写的内部实验性存储），然后看着它们读取、写入，甚至彼此进行事务交互，这件事令人兴奋。
<br /><br />
“将外部数据包装器、物化视图和 LATERAL 连接用于查询，再配合用于监控的自定义后台工作进程，使 PostgreSQL 成为一个真正强大的平台，我们打算持续使用它，并与之共同成长。CloudFlare 很高兴能把这颗明珠纳入我们的工具箱。”CloudFlare 联合创始人兼首席工程师 Lee Holloway 说道。</blockquote>

<p><a href="http://www.cloudflare.com">CloudFlare 公司</a> 可以让用户网站更快，保护它们免受攻击，并确保它们始终在线，还可以通过简单点击添加新的应用。不论目标网站大小和所用平台如何，CloudFlare 都能在不增加硬件、软件，甚至不修改一行代码的前提下提升网站能力。CloudFlare 的社区也因此变得越来越强大，凭借我们的技术，每个月都有成千上万的人体验到一个更快、更安全、更好的互联网。CloudFlare 公司被世界经济论坛称为技术先锋，2011 年和 2012 年被《华尔街日报》评为最具创新性的网络和互联网公司，2012 年被《快公司》评为世界前 50 大最具创新力的公司。CloudFlare 公司位于美国加州三藩市，联系地址（仅英语）：<a href="mailto:press@cloudflare.com">press@cloudflare.com</a>, +1 (650) 485-1399</p>

<b>Gandi.net 公司</b>

<blockquote>"我们需要使用复制技术，对最近这项特性的改进非常感兴趣，我对9.3 版本中的快速失效转移功能尤其兴奋。我们在 Gandi IAAS/PAAS 平台上已经使用 PostgreSQL 很长时间，最近我们也使用它创建我们的在线系统每天来存储、计算、输出数百万条记录，真的是很简单"。
<br /><br />
"PostgreSQL 因为它众所周知的稳定性、强壮性、数据一致性、安全性、ACID 事务性和 SQL 标准规范性一直就是我的最喜欢的选择，现在它变得更加现代、充分使用了操作系统提供的功能，我们可见到很大的性能提升和失效时更加容易的管理。它就是适用于关键业务的最好的数据库"，Gandi.net 网站的研发经理 Pascal Bouchareine 说。
</blockquote>

<p><a href="http://www.gandi.net">GANDI.net 网站</a> 是经 ICANN 批准的一级域名注册商之一，可注册.COM, .NET,.ORG, .BIZ, .INFO 域名和在法国的 .NAME, .BE, .FR, .EU 域名，它提供超过200个域扩展并且仍在增加中。在目前注册领域可能会有一些”灰色“的操作，但 Gandi 认为它是一个遵守道德规范的域名注册商，它尽量在任何地方对用户的权利和隐私进行保护。英语联系：<a href="thomas@gandi.net">Thomas  Stocking</a>, 法语：<a href="mailto:nicolas.lhuillery@gandi.net">Nicolas Lhuillery</a>. Phone: +1 410.429.7402.</p>

<a name="companies"></a><h2>企业支持</h2>

<p>PostgreSQL 获得了一大批公司的支持，他们资助开发人员，提供网上资源以及给予了资金上的支持。一些较大的且长期支持的公司名单列在我们的 <a href="/about/sponsors">开发支持页面</a></p>

<p>还有<a href="/support/professional_support">大量的公司</a>提供从独立顾问到跨国公司的 PostgreSQL 支持。</p>

<p>我们也很乐意接受各方<a href="/about/donate">捐助</a>。</p>

{% endblock %}
