{%extends "base/page.html"%}
{%block title%}软件目录 - 产品分类{%endblock%}
{%block contents%}
<h1>软件目录 - 产品分类 <i class="fas fa-th-list"></i></h1>

<p>与 PostgreSQL 相关的接口、扩展和软件来自各种开源项目、公司和个人。为了帮助您找到所需的软件，以下页面描述了其中许多产品。但这绝不是一个详尽的列表。</p>

<p>请注意，PostgreSQL 全球开发组不为所列的任何产品做背书或推荐，也无法保证其中任何产品的质量或可靠性。</p>

<p>如果您希望将您的产品列入目录，请填写此<a href="/account/products/new/">表单</a>。</p>

<ul>

{%for cat in categories%}
<li><a href="/download/products/{{cat.id}}-{{cat.catname|slugify}}/">{{cat.catname}}</a></li>
{%endfor%}
</ul>

{%endblock%}
