{%extends "base/page.html"%}
{%load pgmarkdown%}
{%block title%}软件目录 - {{category.catname}}{%endblock%}
{%block contents%}

<h1>软件目录 - {{category.catname}}</h1>

<p>{{productcount}} 个产品在此分类中。</p>
<p>{{category.blurb|safe}}</p>

{% for product in products %}
  <h2 class="news"><a href="{{product.url}}" target="_blank" rel="noopener nofollow">{{product.name}}</a></h2>
  <table class="table table-striped product-table">
    <thead>
      <tr>
        <th scope="col">描述</th>
        <th scope="col">许可证</th>
        <th scope="col">价格</th>
        <th scope="col">发行商</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product.description|markdown}}</td>
        <td>{{product.licencetype}}</td>
        <td>{{product.price}}</td>
        <td><a href="{{product.org.url}}" target="_blank" rel="noopener nofollow">{{product.org.name}}</a></td>
        <td><a href="{{product.url}}" target="_blank" rel="noopener nofollow">查看</a></td>
      </tr>
    </tbody>
  </table>
  <hr />
{% endfor %}

<p><em><strong>注意：</strong>PostgreSQL 全球开发组不为所列的任何产品做背书或推荐，也无法保证其中任何产品的质量或可靠性。</em></p>

{%endblock%}
