{%extends "base/page.html"%}
{%block title%}国际站点{%endblock%}
{%block contents%}

<h1>国际站点</h1>

<p>以下是各国 PostgreSQL 社区网站的链接。</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">社区</th>
      <th scope="col">描述</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<td><a href="http://www.postgres.cn/">简体中文</a></td>
    	<td>简体中文 PostgreSQL 社区</td>
    </tr>
    <tr>
    	<td><a href="https://postgresql.tw/">繁体中文</a></td>
    	<td>繁体中文 PostgreSQL 社区</td>
    </tr>
    <tr>
      <td><a href="https://www.postgres.cz/">捷克语</a></td>
      <td>Informace o PostgreSQL v &#269;e&#353;tin&#283;</td>
    </tr>
    <tr>
    	<td><a href="http://www.postgres.de/">德语</a></td>
    	<td>Die Deutsche PostgreSQL Seite</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.fr/">法语</a></td>
    	<td>La communaute Fran&#231;aise de PostgreSQL</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.org.il/">以色列</a></td>
    	<td>以色列 PostgreSQL 社区</td>
    </tr>
    <tr>
    	<td><a href="https://www.itpug.org/">意大利语</a></td>
    	<td>Associazione ITPUG</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.jp/">日语</a></td>
    	<td>日本 PostgreSQL 社区</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.kr/">韩语</a></td>
    	<td>韩国 PostgreSQL 社区</td>
    </tr>
    <tr>
      <td><a href="https://rupostgres.org/">俄语</a></td>
      <td>Сообщество русскоязычных пользователей PostgreSQL</td>
    </tr>
    <tr>
    	<td><a href="https://www.postgresql.org.tr/">土耳其语</a></td>
    	<td>Türkiye PostgreSQL Kullanıcıları Grubu</td>
    </tr>
  </tbody>
</table>

<p>如果您知道本页未列出的国际 PostgreSQL 社区站点，请联系 <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a>。</p>
{%endblock%}
