{%extends "base/page.html"%}
{%block title%}IRC{%endblock%}
{%block contents%}

<h1>IRC <i class="fas fa-comments"></i></h1>

<p>欢迎 PostgreSQL 社区成员在 Libera Chat IRC 网络上聚集，讨论 PostgreSQL 相关话题，
在社区成员之间进行日常交流，以及提出关于 PostgreSQL 的问题并帮助其他用户。
该频道有许多活跃用户，是参与更广泛 PostgreSQL 社区的入口。
在提问之前，请不要忘记查阅<a href="/docs/">文档</a>，您的问题可能已在其中得到解答。</p>

<p>请注意，与其他社区场所一样，所有用户都应审阅并遵守
PostgreSQL 社区<a href="https://www.postgresql.org/about/policies/coc/">行为准则</a>。</p>

<p>任何问题、疑虑或违反行为准则的行为，均可直接在 Libera Chat 上联系 PostgreSQL IRC 管理团队进行举报，
也可以通过发送电子邮件至
<a href="mailto:irc-admins@lists.postgresql.org">irc-admins@lists.postgresql.org</a> 联系团队。违反行为准则的行为
也可以提交至行为准则委员会，邮箱为
<a href="mailto:coc@postgresql.org">coc@postgresql.org</a>。</p>

<h2>PostgreSQL 频道：</h2>
<ul>
  <li><a href="irc://irc.libera.chat/postgresql">#postgresql</a>：PostgreSQL 通用技术讨论（英语）</li>
  <li><a href="irc://irc.libera.chat/postgresql-lounge">#postgresql-lounge</a>：PostgreSQL 用户闲聊区</li>
  <li><a href="irc://irc.libera.chat/postgresql-eu">#postgresql-eu</a>：欧洲 PostgreSQL 用户组</li>
</ul>

<h2>特定语言频道：</h2>
<ul>
  <li><a href="irc://irc.libera.chat/postgresql-br">#postgresql-br</a>：巴西葡萄牙语</li>
  <li><a href="irc://irc.libera.chat/postgresql-fr">#postgresql-fr</a>：法语</li>
  <li><a href="irc://irc.libera.chat/postgresql-it">#postgresql-it</a>：意大利语</li>
  <li><a href="irc://irc.libera.chat/postgresql-de">#postgresql-de</a>：德语</li>
</ul>

<h2>PostgreSQL IRC 管理团队：</h2>
<ul>
  <li>RhodiumToad [Andrew Gierth]</li>
  <li>xocolatl [Vik Fearing] - #postgresql-fr 管理员</li>
  <li>magnush [Magnus Hagander] - #postgresql-eu 管理员</li>
  <li>johto [Marko Tiikkaja]</li>
  <li>ilmari [Dagfinn Ilmari Manns&aring;ker]</li>
  <li>davidfetter [David Fetter]</li>
  <li>Myon [Christoph Berg] - #postgresql-apt、#postgresql-de 管理员</li>
  <li>Zr40 [Matthijs van der Vleuten]</li>
</ul>

<h2>其他网络上的 PostgreSQL 相关频道</h2>
<p>PostgreSQL 相关项目：</p>
<ul>
	<li>matrix：<a href="https://matrix.to/#/#postgis:osgeo.org">#postgis:osgeo.org</a>；
	    irc：<a href="irc://irc.libera.chat/postgis">#postgis</a>：PostgreSQL 空间对象扩展</li>
</ul>
{%endblock%}
