{%extends "base/page.html"%}
{%block title%}认可的非营利组织{%endblock%}
{%block contents%}

<h1>认可的非营利组织</h1>

<p>认可的非营利组织（NPO）是以支持 PostgreSQL 项目为主要目标的法人实体，
    并按照<a href="/about/policies/npos/">认可的 PostgreSQL 非营利组织</a> 政策进行管理。</p>

<h2>PostgreSQL Europe</h2>

<p>PostgreSQL Europe 是欧洲 PostgreSQL 用户组的“伞形组织”，
    同时也服务于没有本地用户组的地区的用户。其目标是推广 PostgreSQL 在欧洲的使用，
    主要通过协助本地用户组以会议和其他宣传活动在当地推广该产品，
    以及举办欧洲范围的会议和其他活动。</p>
<p>更多信息请访问
    <a href="https://www.postgresql.eu/">PostgreSQL Europe 网站</a>。</p>

<h2>PostgreSQLFr</h2>

<p>PostgreSQLFr 的目标是推广、支持部署和开发开源软件 PostgreSQL
    及其衍生产品和相关项目，服务范围涵盖法国和法语国家。</p>
<p>PostgreSQLFr 自 2008 年起每年在不同城市举办 "PG Day France" 活动。</p>
<p>更多信息请访问
    <a href="https://www.postgresql.fr/">PostgreSQLFr 网站</a>。</p>

<h2>Prairie Postgres</h2>

<p>Prairie Postgres NFP 是一家在伊利诺伊州（Prairie State）注册的 501(c)(3) 非营利组织，
    服务于美国中西部地区。Prairie Postgres 举办活动，并为技术从业者和研究人员
    提供培训、职业发展和社交机会。该组织致力于通过在本地技术社区的工作
    促进多样性、公平性和包容性。</p>
<p>更多信息请访问
    <a href="http://prairiepostgres.org/">Prairie Postgres 网站</a>。</p>

<h2>United States PostgreSQL Association</h2>

<p>United States PostgreSQL Association，通常被亲切地称为 PgUS，
    是一家 IRS 501(c)(3) 公共慈善组织。其宗旨是支持 PostgreSQL——
    世界最先进的开源数据库——的发展和教育推广。</p>
<p>更多信息请访问
    <a href="https://postgresql.us/">PgUS 网站</a>。</p>

<h2>Slonik Events Canada</h2>

<p>Slonik Events Canada 是一家加拿大非营利组织，其成立目的是
    为加拿大的 PostgreSQL 社区举办活动。Slonik Events Canada
    组织年度 PGConf.dev 开发者大会。</p>
<p>更多信息请访问
    <a href="https://www.pgevents.ca/">Slonik Events Canada 网站</a>。</p>
{%endblock%}
