{%extends "base/page.html"%}
{%block title%}贡献者委员会{%endblock%}
{%block contents%}

<h1>贡献者委员会 <i class="fa fa-users"></i></h1>

<p>
  所有贡献者的认可由贡献者委员会负责管理，委员会根据个人情况决定每位贡献者或潜在贡献者的状态。决定依据<a href="/about/policies/contributors/">认可的贡献者</a>政策作出。当前确定谁有资格成为贡献者的方式是通过委员会成员的简单多数投票。委员会的决定是最终决定，除非被核心团队推翻。
</p>

<p>
  委员会的规模和成员由自身决定，但须经核心团队的简单多数投票批准。通常的目标是至少有三名成员，且没有任何单一公司雇用委员会成员的多数。
</p>

<p>
  当前成员为：
</p>
<ul>
  <li>Christoph Berg</li>
  <li>Floor Drees</li>
  <li>Joe Conway</li>
  <li>Melanie Plageman</li>
</ul>

<p>
  贡献者委员会定期召开会议，讨论当前的候选人。<a href="/community/contributors/">贡献者档案</a>页面在做出任何有关增加或变更的决定后会及时更新。
</p>
<p>
  如需联系贡献者委员会，请发送电子邮件至
  <a href="mailto:contributors@postgresql.org">contributors@postgresql.org</a>。
</p>
{%endblock%}
