{%extends "base/page.html"%}
{%block title%}基础设施团队{%endblock%}
{%block contents%}

<h1>基础设施团队 <i class="fa fa-users"></i></h1>

<p>
  基础设施团队负责运行所有 postgresql.org 基础设施，包括各种公共和非公共服务。PostgreSQL 网站开发在
  <a href="http://archives.postgresql.org/pgsql-www/">pgsql-www 邮件列表</a> 上讨论。
  postgresql.org 网站的源代码存储在公共的
  <a href="https://git.postgresql.org/gitweb/?p=pgweb.git;a=summary">GIT 代码仓库</a> 中。
</p>

<h2>基础设施团队成员</h2>

<p>
  以下人员是运行 postgresql.org 基础设施的系统管理员团队成员。
</p>
<ul>
  <li>Magnus Hagander</li>
  <li>&Aacute;lvaro Herrera</li>
  <li>Stefan Kaltenbrunner</li>
  <li>Dave Page</li>
  <li>Joe Conway</li>
  <li>Christophe Pettus</li>
  <li>Yogesh Sharma</li>
</ul>

<p>
  如果您想联系基础设施团队，请通过 sysadmins@lists.postgresql.org 与我们联系。
</p>

{%endblock%}
